<div class="main-div">
    <div class="sso_card w-100 h-100 dashboard-wrapper">
        <div class="d-blcok d-md-flex align-items-center justify-content-between dataTable_header">
            <h4 class="primary_color mb-0 table-header-letter-spacing mb-3 mb-md-0">Organizations</h4>
            <div class="d-block d-md-flex">
                <div class="position-relative display-flex ms-0 ms-md-2 custom-input w-100">
                    <input type="text" class="form-control dataTableSearch" [(ngModel)]="searchTerm"
                        placeholder="Search by name or domain" (keyup)="onKeyChange($event)">
                    <span class="search_icon searchIcon"></span>
                </div>
                <button type="button" class="btn filter_btn ms-0 ms-md-2 d-none"><span class="filterIcon me-2"></span>
                    Filter</button>
                <button *ngIf="localStoreService.hasPermission('can.create.organization')" type="button" class="primary_button ms-0 ms-md-2 mt-2 mt-md-0" (click)="createOganization()">Create
                    Oganization</button>
            </div>
        </div>
        <app-data-table [columns]="columns" [config]="tableConfig" [dataSet]="organizationList"
            [module]="'organization'" (changePage)="getOrganization($event)"></app-data-table>

    </div>
</div>
