<div class="modal-body p-5">
  <h4 class="fs-20px fw-700 mb-3">Register Yourself</h4>
  <form [formGroup]="updateMemberForm" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-between">
      <div class="mb-3 custom-input w-50 me-4" [ngClass]="isControlHasError('firstName','required')? 'custom-input-error': 'custom-input'">
        <label for="firstName" class="form-label mb-1 fs-14px fw-700 required">First Name </label>
        <input type="text" class="form-control fs-14px" id="firstName" placeholder="Enter first name"
          formControlName="firstName">
          <div class="form-error">
            <small *ngIf="isControlHasError('firstName','required')" class="text-danger">First Name is required</small>
          </div>
      </div>
      <div class="mb-3 custom-input w-50" [ngClass]="isControlHasError('lastName','required')? 'custom-input-error': 'custom-input'">
        <label for="lastName" class="form-label mb-1 fs-14px fw-700 required">Last Name </label>
        <input type="text" class="form-control fs-14px" id="lastName" placeholder="Enter last name"
          formControlName="lastName">
        <small *ngIf="isControlHasError('lastName','required')" class="text-danger">Last Name is required</small>
      </div>

    </div>
    <div class="d-flex justify-content-between">
      <div class="mb-3 custom-input w-50 me-4" [ngClass]="isControlHasError('username','required')? 'custom-input-error': 'custom-input'">
        <label for="usename" class="form-label mb-1 fs-14px fw-700 required">User Name </label>
        <input type="text" class="form-control fs-14px" id="usename" placeholder="Enter username"
          formControlName="username">
        <small *ngIf="isControlHasError('username','required')" class="text-danger">User Name is required</small>
      </div>
      <div class="mb-3 custom-input w-50" [ngClass]="isControlHasError('phoneNumber','required')? 'custom-input-error': 'custom-input'">
        <label for="phoneNumber" class="form-label mb-1 fs-14px fw-700 required">Phone Number </label>
        <input type="text" class="form-control fs-14px" id="phoneNumber" placeholder="Enter phone number"
          formControlName="phoneNumber">
        <small *ngIf="isControlHasError('phoneNumber','required')" class="text-danger">Phone number is required</small>
      </div>

    </div>
    <div class="d-flex justify-content-between">
      <div class="mb-3 custom-input w-50 me-4" [ngClass]="isControlHasError('email','required')? 'custom-input-error': 'custom-input'">
        <label for="email" class="form-label mb-1 fs-14px fw-700 required">Email </label>
        <input type="text" class="form-control fs-14px" id="email" placeholder="Enter email address"
          formControlName="email">
          <div class="form-error">
            <small *ngIf="isControlHasError('email','required')" class="text-danger">Email is required</small>
          </div>

      </div>
      <div class="mb-3 custom-input w-50" [ngClass]="isControlHasError('password','required')? 'custom-input-error': 'custom-input'">
        <label for="password" class="form-label mb-1 fs-14px fw-700 required">Password </label>
        <input type="text" class="form-control fs-14px" id="password" placeholder="Enter password"
          formControlName="password">
          <div class="form-error">
            <small *ngIf="isControlHasError('password','required')" class="text-danger">Password is required</small>
          </div>
      </div>

    </div>
    <div class="d-flex justify-content-between" [ngClass]="isControlHasError('confirmPassword','required')? 'custom-input-error': 'custom-input'">
      <div class="mb-3 custom-input w-50 me-4">
        <label for="confirmPassword" class="form-label mb-1 fs-14px fw-700 required">Re-Type Password </label>
        <input type="text" class="form-control fs-14px" id="confirmPassword" placeholder=""
        formControlName="confirmPassword">
        <small *ngIf="isControlHasError('confirmPassword','required')" class="text-danger">Retype password</small>
      </div>
      <div class="mb-3 custom-input w-50">
        <!-- <label for="exampleFormControlInput1" class="form-label mb-1 fs-14px fw-700">Email </label>
        <input type="text" class="form-control fs-14px" id="exampleFormControlInput1" placeholder="Enter email address"> -->
      </div>

    </div>
    <div class="d-flex justify-content-end mt-4">
      <!-- <button type="button" class="btn border me-3 close-modal" (click)="closeModal()">Cancel</button> -->
      <button type="submit" class="cancel_btn me-2" (click)="closeModal()">Cancel</button>
      <button type="submit" class="primary_button" (click)="closeModal()">Update</button>

    </div>
  </form>
</div>