<div class="bg-login d-flex justify-content-center align-items-center">
  <div class="border-0 shadow-sm rounded-4 login-box">
    <div class="p-3 p-md-4 p-xl-5 ">
      <div class="row">
        <div class="col-12">
          <div class="mb-4">
            <div class="logo"></div>
          </div>
          <div class="common_modal">
            <div class="modal-header border-bottom-0 ">
              <h2 class="mb-0 header-content">Forgot Password?</h2>
            </div>
            <div class="mt-2 d-flex dark-light">
              Enter your email and we'll send you instructions to reset your password
            </div>
            <div class="modal-body mt-4">
              <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <div class="row mt-3">
                  <div class="input-container">
                    <label for="email" class="label-font required">Email</label>
                    <input 
                      type="email" 
                      id="email" 
                      class="form-control" 
                      formControlName="email"
                      [ngClass]="{ 'is-invalid': isControlHasError('email', 'required') }"
                      placeholder="Enter your email">
                    <span *ngIf="isControlHasError('email', 'required')" class="text-danger fs-8 ps-3">Email is required</span>
                    <span *ngIf="isControlHasError('email', 'email')" class="text-danger fs-8 ps-3">Please enter a valid email</span>
                  </div>
                </div>
                <div class="col-12 mt-5">
                  <div class="d-grid">
                    <button 
                      class="btn btn-clr" 
                      type="submit" 
                      [disabled]="!forgotForm.valid"
                      (click)="onSubmit()">
                      Send Reset Link
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="d-flex flex-column flex-md-row justify-content-center mt-2 mb-2">
              <div class="dark-light pe-1">Wait, I remember my password....</div>
              <div class="text-clr cursor-pointer" [routerLink]="['/login']">Click here</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
