.wrapper {
    padding: 15px 30px 30px 30px;
    button{
        font-weight: 500;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    color: #8492A6;
}

.link-text {
    background-color: #F2F4F6;
    border-radius: 30px;
    padding: 4px 12px;
}

.organization-details-div {
    border-radius: 16px !important;
    padding: 24px;
}

.col-8 {
    color: #8492A6;
}

.details-row {
    font-size: 14px;
    font-weight: 600;
}

.main-div {
    border-radius: 16px !important;

    hr {
        color: #8492A6;
    }
}

.delete-button button:hover {
    background-color: #EF4444;
    color: #fff;
}

.delete-button button {
    color: #EF4444;
    background-color: #FFE8E8;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
    font-weight: 500;
}

.disabled {
    border: none !important;
}

.btn-delete {
    background-color: #EF4444;
    font-size: 14px;
}

.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    border: none !important;
    background-color: #fff;
    /* border-bottom-width: var(--bs-border-width); */
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

table tbody tr{
    border-bottom: 1px solid #EDF2F7 !important;
    td {
        font-family: 'Urbanist' sans-serif;
        font-weight: 600;
        font-size: 14px;
        padding: 13px 0px !important;
        
    }
} 

table tr td:first-child {
    width: 150px;
}

.table tr {
    border-bottom: 1px solid rgba(237, 242, 247, 1);
}

.table tr td:last-child {
    color: #8492A6;
}

small {
    position: absolute;
    font-size: 12px;
}

.custom-input-error {

    input,
    input:focus {
        box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
        border-color: red !important;
    }
}

.input-wrapper {
    position: relative;

    .show-hide-password {
        position: absolute;
        top: 26%;
        right: 30px;
    }
}
.iis-logo img {
    width: 64px; 
    height: 64px; 
    object-fit: cover; 
    border-radius: 10px; 
}
.verification-icon {
    width: 18px;
    height: 18px;
    margin-right: -1px;}

::ng-deep .custom-delete-user-modal{

    ::ng-deep .modal-content{
        width: 620px !important;
        border-radius: 16px !important;
        margin-left: 60px !important;
    }
    .modal-dialog-box{
   
        padding: 40px;
        .modal-body{
            padding-top: 24px;
            padding-bottom: 30px;
        }
    }
}