.wrapper {
    padding: 15px 30px 30px 30px;
}

small {
    position: absolute;
    font-size: 12px;
}


.custom-input-error {

    input,
    input:focus {
        box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
        border-color: red !important;
        height: 46px !important;
    }
}

.features-tab,
.settings-tab,
.organization-details-div {
    border-radius: 16px !important;
}

.organization_modal {
    h2 {
        font-weight: 700;
        font-size: 20px;
    }

    .modal-header {
        padding: 40px 40px 0;
    }
}

.organization_update_modal {
    padding: 40px !important;
}


input {
    // padding: 0px;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

input::placeholder {
    font-size: 14px;
    color: rgba(132, 146, 166, 1);
}

.modal-body {
    input::placeholder {
        font-size: 16px;
        color: rgba(132, 146, 166, 1);
    }
}

select:focus {
    border-color: #6f63bd !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(111, 97, 207, 0.20) !important;
}

.delete-button button {
    color: #EF4444;
    font-weight: 600;
    padding: 8px 24px !important;
    background-color: #FFE8E8;
}

.delete-button button:hover {
    background-color: #FFE8E8;
    // font-weight: 600;
}

.disabled {
    border: none !important;
}

.primary_button {
    font-weight: 500
}

.delete-button button:hover {
    background-color: #EF4444;
    color: #fff;
    // font-weight: 500;
}

.btn-delete {
    background-color: #EF4444;
    font-size: 14px;
}

.edit-details-button {
    padding-top: 2px !important;
}

.color-7a7a7a {
    hr {
        color: #4a4d50;
        margin: 0;
    }
}

.p-10 {
    padding-top: 14px;
    padding-bottom: 14px;
}
.table tbody tr td{
    padding: 13px 0px;
}
.table tbody tr td:first-child{
    width: 100px !important;
}
.table tbody tr td:last-child{
    color: #8492ba;
}

.custom-dropdown .ng-select.ng-select-single .ng-select-container {
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 6px !important;
}
.custom-dropdown{
    ::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items{
        width: 170px;
        margin-top: 10px;
    }
    width: 150px;
    ::ng-deep .ng-select .ng-input{
        caret-color: transparent !important; 
      }
    ::ng-deep .ng-select.ng-select-single .ng-select-container {
        height: 46px;
        border: 1px solid #ccc;
        border-radius: 7px !important;
    }
    ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 600;
    }
    ::ng-deep .ng-select.custom-select.ng-select-focused {
        border-color: rgba(111, 97, 207, 1) !important;
    }
    ::ng-deep ng-select .ng-select-container {
        height: 46px;
        border: 1px solid rgba(208, 219, 229, 1) !important;
        transition: border-color 0.3s, box-shadow 0.3s;
    }
    ::ng-deep ng-select.custom-select-focused .ng-select-container {
        border-color: rgba(111, 97, 207, 1) !important;
        box-shadow: 0 0 0 0.25rem rgba(111, 97, 207, 0.20) !important;
    
    }

    ::ng-deep ng-select.custom-select-error .ng-select-container {
        box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
        border-color: red !important;
    }
    ::ng-deep ng-select.custom-select.has-value .ng-select-container {
        box-shadow: none !important;
    }

    ::ng-deep ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
        border-color: rgba(208, 219, 229, 1) !important;
        box-shadow: none !important;
    }
    ::ng-deep .ng-dropdown-panel {
        border: none !important;
        opacity: 1 !important;
        margin-top: 5px !important;
        background: #fff !important;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);   
          
    }
         ::ng-deep .ng-option{
        font-size: 14px;
        font-weight: 600;
      }
    
      ::ng-deep .ng-option:hover {
        background-color: #f2f4f6 !important;
        color: #333 !important; 
      }
    
      ::ng-deep .ng-option-selected,  ::ng-deep .ng-option-selected:hover{
        background-color: #f2f4f6 !important;
        color:  #6f61cf !important; 
      }

      ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{
        background-color: #f2f4f6 !important;
      }

      ::ng-deep .ng-select .ng-clear-wrapper {
        display: none;
    }

    ::ng-deep .ng-select .ng-arrow-wrapper {
       margin-right: 15px !important;
    }
  ::ng-deep  input{
        border: 0 !important;
        width: 140px !important;
    }

    ::ng-deep .ng-select-container{
        height: 30px !important;
        border-radius: 6px !important;
        width: 170px !important;
    }

    ::ng-deep .ng-select.ng-select-single .ng-select-container {
        width: 170px !important;
    }
    ::ng-deep .custom-dropdown .ng-dropdown-panel{
        width: 170px !important;
        margin-top: 10px !important;
    }
    ::ng-deep .ng-dropdown-panel{
        opacity: 1;
        width: 170px;
        margin-top: 1px;
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }

    
}