.wrapper {
    padding: 15px 30px 30px 30px;
}

small {
    position: absolute;
    font-size: 12px;
}


.custom-input-error {

    input,
    input:focus {
        box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
        border-color: red !important;
    }
}

.features-tab,
.settings-tab,
.organization-details-div {
    border-radius: 16px !important;
}

.organization_modal {
    h2 {
        font-weight: 700;
        font-size: 20px;
    }

    .modal-header {
        padding: 40px 40px 0;
    }
}

.organization_update_modal {
    padding: 40px !important;
}


input {
    padding: 0px;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

input::placeholder {
    font-size: 14px;
    color: rgba(132, 146, 166, 1);
}

.modal-body {
    input::placeholder {
        font-size: 16px;
        color: rgba(132, 146, 166, 1);
    }
}

select:focus {
    border-color: #6f63bd !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(111, 97, 207, 0.20) !important;
}

.delete-button button {
    color: #EF4444;
    font-weight: 600;
}

.delete-button button:hover {
    background-color: #FFE8E8;
    font-weight: 600;
}

.disabled {
    border: none !important;
}

.primary_button{
    font-weight: 500
}
.delete-button button:hover {
    background-color:#EF4444;
    color: #fff;
    font-weight: 500;
}
.btn-delete{
    background-color: #EF4444;
    font-size: 14px;
}
