<div class="path d-flex pt-1 bg-white ps-4 custom-shadow">
  <span class="color-8492A6 fs-12px mt-1px">Organization</span>
  <span><i class="bi bi-chevron-right color-D0DBE5"></i></span>
  <span class="color-6F61CF fs-12px mt-1px">Organization Details </span>
</div>
<div class="wrapper">
  <div class="main-div w-100 organization-details-div bg-white  p-3 mt-4 ps-4 custom-shadow">
    <div class="d-flex">
      <div class="iis-logo">
        <img class="rounded" [src]="organizationData?.logo" height="64px" alt="iis">
      </div>
      <div class="ms-3">
        <div class="fs-20px fw-700 color-16192C bold-fonts text-capitalize">
          {{organizationData?.name}}
        </div>
        <div class="d-flex mt-1">
          <div class="link-text color-8492A6 fs-12px semi-bold-fonts">
            {{organizationData?.org_id}}
          </div>
          <div class="d-flex ms-4">
            <div>
              <img
                [src]="organizationData?.domain_verified ? '../../../../../assets/icons/Frame.svg' : '../../../../assets/icons/unverified.svg'"
                alt="">
            </div>
            <div class="ms-1">
              <span class="color-8492A6 fs-14px semi-bold-fonts">{{organizationData?.domain}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 mt-4 w-100">
    <div class="d-flex justify-content-start">
      <nav class="mb-3">
        <div class="nav nav-tabs fs-14px fw-600 semi-bold-fonts" id="nav-tab" role="tablist">
          <button (click)="setSelectedTab('features')" class="nav-link border-top-0 border-start-0 border-end-0"
            [ngClass]="'active-nav-tab'" [ngClass]="{'active-nav-tab': selectedTab === 'features'}"
            id="nav-features-tab" data-bs-toggle="tab" data-bs-target="#nav-features" type="button" role="tab"
            aria-controls="nav-features" [attr.aria-selected]="selectedTab === 'features'">
            Features
          </button>
          <button (click)="setSelectedTab('user')" class="nav-link border-top-0 border-start-0 border-end-0"
            id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab"
            aria-controls="nav-users" [ngClass]="{'active-nav-tab': selectedTab === 'user'}"
            [attr.aria-selected]="selectedTab === 'user'">
            Users
          </button>
          <button (click)="setSelectedTab('application')" class="nav-link border-top-0 border-start-0 border-end-0"
            [ngClass]="{'active-nav-tab': selectedTab === 'application'}" id="nav-applications-tab" data-bs-toggle="tab"
            data-bs-target="#nav-applications" type="button" role="tab" aria-controls="nav-applications"
            [attr.aria-selected]="selectedTab === 'application'">
            Applications
          </button>
          <button (click)="setSelectedTab('setting')" class="nav-link border-top-0 border-start-0 border-end-0"
            [ngClass]="{'active-nav-tab': selectedTab === 'setting'}" id="nav-monthly-tab" data-bs-toggle="tab"
            data-bs-target="#nav-monthly" type="button" role="tab" aria-controls="nav-monthly"
            [attr.aria-selected]="selectedTab === 'setting'">
            Settings
          </button>

        </div>
      </nav>

    </div>
    <hr class="line">
  </div>
  <div id="features-tab" *ngIf="selectedTab === 'features'">
    <div class="main-div w-100  features-tab p-3 mt-4 bg-white custom-shadow">
      <div class="pt-1">
        <div>
          <div class="fs-20px fw-700 color-16192C bold-fonts">
            Invite an admin to manage the organization
          </div>
          <div class="d-flex mt-3">
            <div class="fs-14px color-8492A6  semi-bold-font">
              Organization admins can be invited to the Admin Portal for self-serve set up of features.
            </div>
          </div>
          <div class="invite-button mt-3">
            <button class="primary_button"
              (click)="openModal(inviteAdmin, 'modal-dialog modal-dialog-centered common_modal_shadow')">Invite
              Admin</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4" [id]="selectedTab + '-tab'" *ngIf="selectedTab === 'user' || selectedTab === 'application'">
    <div class="sso_card w-100 h-100">
      <div class="d-flex align-items-center justify-content-between dataTable_header">
        <h4 class="primary_color mb-0 table-header-letter-spacing text-capitalize">{{selectedTab}}s List</h4>
        <div class="d-flex">
          <div class="position-relative display-flex ms-3 custom-input">
            <input type="text" class="form-control dataTableSearch" [(ngModel)]="searchTerm"
              placeholder="Search by name or domain">
            <span class="search_icon searchIcon"></span>
          </div>
          <button *ngIf="selectedTab === 'user'" type="button" class="btn filter_btn ms-3"><span
              class="filterIcon me-2"></span> Filter</button>
        </div>
      </div>
      <app-data-table [columns]="columns" [config]="tableConfig" [dataSet]="dataTableList"
        [module]="selectedTab"></app-data-table>
    </div>
  </div>

  <div id="setting-tab" *ngIf="selectedTab === 'setting'">
    <div class="main-div w-100 settings-tab p-3 mt-4 ps-4 bg-white custom-shadow">
      <div class="pt-1">
        <div class="">
          <h5 class="fs-20px fw-700 mb-2 bold-fonts">User Details</h5>
          <hr class="mt-4 mb-2 me-2 custom-hr">
          <table class="table fw-600 fs-14px">
            <tbody>
              <tr>
                <td class="">Name</td>
                <td class="dark-light ">{{organizationData?.name}}</td>
              </tr>
              <tr>
                <td class="">Domain</td>
                <td>
                  <div class="d-flex align-items-center">
                    <img
                      [src]="organizationData?.domain_verified ? '../../../../../assets/icons/Frame.svg' : '../../../../assets/icons/unverified.svg'"
                      alt="">
                    <span class="dark-light  ms-1">{{organizationData?.domain}}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="fs-14 fw-600">Status</td>
                <td>
                  <div class="d-flex align-items-center">
                    <span *ngIf="organizationData?.status === 'active'" class="badge badge-light-success text-capitalize  ps-3 pe-3">{{
                      organizationData?.status || 'N/A' }}</span>
                    <span *ngIf="organizationData?.status === 'inactive'" class="badge badge-light-warning text-capitalize  ps-3 pe-3">{{
                      organizationData?.status || 'N/A' }}</span>
                    <span *ngIf="organizationData?.status === 'blocked'" class="badge badge-light-warning text-capitalize  ps-3 pe-3">{{
                      organizationData?.status || 'N/A' }}</span>
                    <span
                      *ngIf="organizationData?.status !== 'active' && organizationData?.status !== 'inactive' && organizationData?.status !== 'blocked'"
                      class="custom-badge-default ps-3 pe-3">{{ organizationData?.status || 'N/A' }}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="buttons" *ngIf="localStoreService.hasPermission('can.update.organization')">
            <button class="primary_button" (click)="organizationModal()"><span>Edit
                Details</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="main-div w-100 settings-tab p-3 mt-4 ps-4 bg-white custom-shadow"
      *ngIf="localStoreService.hasPermission('can.delete.organization')">
      <div class="pt-1">
        <div>
          <div class="fs-20px fw-700 color-16192C bold-fonts">
            Danger Zone
          </div>
          <div class="mt-1">
            <div class="fs-14px color-8492A6 medium-fonts">
              Delete this organization, users, and Applications..
            </div>
            <div class="fs-14px color-8492A6">
              This action is permanent and cannot be undone.
            </div>
          </div>
          <div class="mt-4 delete-button semi-bold-fonts">
            <button class="btn delete-button 8" (click)="organizationDeleteModal()">Delete Organization</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #inviteAdmin>
    <div class="modal-body p-5 pt-4 pb-4">
      <h4 class="fs-20px fw-700">Invite Admin</h4>
      <form [formGroup]="inviteMemberForm" (ngSubmit)="onInviteAdmin()">
        <div class="mb-3 custom-input"
          [ngClass]="isControlHasError('email','required', inviteMemberForm)? 'custom-input-error': 'custom-input'">
          <label for="exampleFormControlInput1" class="form-label mb-1 fs-14px fw-700 required">Email</label>
          <input type="email" class="form-control ps-3 pe-3 form-control-lg fs-14px" id="exampleFormControlInput1"
            placeholder="Enter email address" formControlName="email">
          <small *ngIf="isControlHasError('email','required', inviteMemberForm)" class="text-danger">Email is
            required</small>
        </div>
        <div>
        </div>
        <div class="d-flex justify-content-end mt-4">
          <button type="button" class="cancel_btn me-2" (click)="closeModal()">Cancel</button>
          <button type="submit" class="primary_button">Invite</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>