.organization_modal {
    h2 {
        font-weight: 700;
        font-size: 20px;
    }

    .modal-header {
        padding: 40px 40px 0;
    }
}

.modal-body{
    p{
        font-size: 11px;
        font-weight: 500;
        color: #8492A6;
        margin-bottom: 4px;
        margin-top: 2px;
    }
}

.organization_update_modal {
    padding: 40px !important;
}


input::placeholder {
    font-size: 14px;
    color: rgba(132, 146, 166, 1);
}

.modal-content {
    border-radius: 16px !important;
}
small {
    position: absolute;
    font-size: 12px;
}

.custom-input-error {

    input,
    input:focus {
        box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
        border-color: red !important;
    }
}
.add_button{
    color: #6f61cf;
    font-weight: 600;
    cursor: pointer;
}
.add_button:hover{
text-decoration-line: underline;
text-decoration-color: #6f61cf;
}
.position-relative {
  position: relative;
}

.input-with-icon {
  padding-right: 30px; /* Ensure space for the icon */
}

.trash-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('/assets/icons/trash-01.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
