<div class="p-4 modal-content">
    <div class="modal-header border-bottom-0 pb-0">
        <div class="fs-20px bold-fonts pb-0">
            Create Application
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="applicationForm" (ngSubmit)="submitForm()">
            <div class="mb-3 custom-input" [ngClass]="isControlHasError('applicationName','required')? 'custom-input-error': 'custom-input'">
                <label for="applicationName" class="mb-1 primary_color required fw-700 semi-bold-fonts">Name</label>
                <input type="text" class="form-control form-control-lg ps-3 ps-2 fs-14px"
                    formControlName="applicationName" placeholder="Enter domain name">
                <span *ngIf="isControlHasError('applicationName','required')" class="fs-14px text-danger">Domain name is
                    required</span>
            </div>
            <div class="mb-3 custom-input">
                <label for="appUrl" class="mb-1 primary_color  fw-700 semi-bold-fonts">App URL</label>
                <input type="text" class="form-control form-control-lg ps-3 fs-14px" placeholder="Enter domain name"
                    formControlName="appUrl">
                <!-- <span *ngIf="isControlHasError('domainName','required')" class="text-danger">Domain name is
                    required</span> -->
            </div>
            <div class="mb-3 custom-input">
                <label for="redirectUrl" class="mb-1 primary_color  fw-700 semi-bold-fonts">Redirect
                    URI's</label>
                <p class="fs-14px  color-8492A6 mb-0">Lorem Ipsum adalah contoh teks atau dummy dalam huruf</p>
                <div class="d-flex">
                    <input type="text" class="form-control  ps-3 fs-14px me-3" placeholder="Enter domain name"
                        formControlName="redirectUrl">
                    <span class="primary_button cursor-pointer plus_button">+</span>
                </div>
                <!-- <span *ngIf="isControlHasError('domainName','required')" class="text-danger">Domain name is
                    required</span> -->
            </div>
            <div class="mb-3 custom-input">
                <!-- <label for="url" class="mb-1 primary_color  fw-700 semi-bold-fonts">Url</label> -->
                <p class="fs-14px color-8492A6 mb-0 ">Lorem Ipsum adalah contoh teks atau dummy dalam huruf</p>
                <div class="d-flex">
                    <input type="text" class="form-control  ps-3 fs-14px me-3" placeholder="Enter domain name"
                        formControlName="url">
                    <span class="primary_button cursor-pointer plus_button">+</span>

                </div>
                <!-- <span *ngIf="isControlHasError('domainName','required')" class="text-danger">Domain name is
                    required</span> -->
            </div>
            <div class="modal-footer border-top-0 pe-0 me-0">
                <button class="cancel_btn me-2 " (click)="closeModal()">Close</button>
                <button  type="submit" class="primary_button me-0" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>