<div class="p-4 modal-content">
    <div class="modal-header border-bottom-0 pb-0">
        <div class="fs-20px bold-font pb-0">
          {{title}}  Application
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
            <div class="mb-4 custom-input"
                [ngClass]="isControlHasError('app_name','required')? 'custom-input-error': 'custom-input'">
                <label for="app_name" class="mb-1 primary_color required fw-700 ">Name</label>
                <input type="text" class="form-control form-control-lg ps-3 ps-2 fs-14px"
                    formControlName="app_name" placeholder="Enter name">
                <small *ngIf="isControlHasError('app_name','required')" class="text-danger mt-1">Application
                    name is
                    required</small>
            </div>
            <div class="mb-4 custom-input app-url"  [ngClass]="(isControlHasError('url', 'required') || isControlHasError('url', 'pattern')) ? 'custom-input-error' : 'custom-input'">
              <label for="appUrl" class="mb-1 primary_color fw-700 required">App URL</label>
              <p>Enter the endpoint where users will be sent after authentication. This URI must match the one registered with your application to ensure secure and correct redirection.</p>
              <input
                type="text"
                id="appUrl"
                class="form-control form-control-lg ps-3 fs-14px"
                placeholder="Enter URL"
                formControlName="url"
              />
             <small *ngIf="isControlHasError('url', 'required')" class="text-danger fs-12px mt-1">
                App url is required
              </small>
              <small *ngIf="isControlHasError('url', 'pattern')" class="text-danger fs-12px mt-1">
                Please enter a valid url
              </small>

            </div>
            <div class="d-flex justify-content-between">
              <label for="appUrl" class="mb-1 primary_color fw-700 semi-bold-fonts required">Redirect URI's</label>
              <span
                class="ms-2 mt-2 add_button text-primary-custom ps-2 bold-fonts fs-14 fw-600 cursor-pointer"
                [ngClass]="{'disabled': isRedirectUriInvalid}"
                (click)="addInputUri()"
              >+ Add</span>
            </div>

            <p class="uri-text">A unique identifier for your application. Use this ID to configure and authenticate your application with the service</p>
            <div formArrayName="redirectUri">
              <div *ngFor="let uri of redirectUri.controls; let i = index" [formGroupName]="i">
                <div class="mt-4 d-flex align-items-center mb-2 position-relative custom-input"
                  [ngClass]="(uri.get('uri')?.errors?.['pattern']) || ((uri.get('uri')?.errors?.['required']) && uri.get('uri')?.touched) ? 'custom-input-error': 'custom-input'">
                  <input type="text" class="form-control ps-3 fs-14px input-with-icon" placeholder="Enter URI"
                    formControlName="uri" 
                    (input)="onUriInputChange(i)"/>
                  <small *ngIf="(uri.get('uri')?.errors?.['pattern'])" class="text-danger optional-uris">Please enter a valid uri.</small>
                  <small *ngIf="(uri.get('uri')?.errors?.['required'])" class="text-danger optional-uris">Redirect uri is required.</small>
                  <div class="hover" *ngIf="i > 0">
                    <span class="trash-icon cursor-pointer" (click)="removeInputUri(i)"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-4 custom-dropdown"
            *ngIf="this.localStoreService.getUserRole().toLowerCase() === 'master' && !(this.title === 'Edit')">
              <label for="exampleFormControlInput1" class="form-label mb-1 fs-14px fw-700 required">Organization</label>
              <ng-select class=""
                [ngClass]="{
                  'custom-select-error': isControlHasError('organization', 'required'),
                  'custom-select': !isControlHasError('organization', 'required')
                }"
                formControlName="organization" (focus)="isFocused = true" (blur)="isFocused = false" (change)="onChange()"
                placeholder="Select organization">
                <ng-option *ngFor="let organization of organization" [value]="organization.id">{{ organization.name }}</ng-option>
              </ng-select>
              <small *ngIf="isControlHasError('organization', 'required')" class="mt-1 fs-14px text-danger">Organization is required</small>
            </div>

            <ng-container *ngIf="inputUris.length <= 5">
            <ng-container *ngFor="let item of inputUris">
                <div class="mb-4 custom-input">
                    <!-- <label for="url" class="mb-1 primary_color  fw-700 semi-bold-fonts">Url</label> -->
                    <p class="fs-14px color-8492A6 mb-0 ">A unique identifier for your application. Use this ID to configure and authenticate your application with the service.</p>
                    <div class="d-flex">
                        <input [(ngModel)]="item.value" type="text" class="form-control  ps-3 fs-14px" placeholder="Enter URI"
                            formControlName="url">
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <div class="modal-footer border-top-0 pb-0 pe-0">
          <button type="button" class="cancel_btn" (click)="closeModal()">Cancel</button>
          <button type="submit" class="primary_button" [disabled]="isLoading">
              <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
              <span *ngIf="title === 'Create'">
                  Create
              </span>
              <span *ngIf="title === 'Edit'">
                  Update
              </span>
          </button>
      </div>
        </form>
    </div>
</div>
