<div class="header-wrapper d-flex align-items-center justify-content-between "
    [ngClass]="!isDetailsPage? 'custom-shadow': ''">
    <div (click)="toggleSidebar()" class="sidebar-toggle-div d-flex align-items-center justify-content-center">
        <span *ngIf="!isSidebarVisible"
            class="cursor-pointer sideBarToggle align-items-center justify-content-center "></span>
        <span *ngIf="isSidebarVisible" class="cursor-pointer rotate_icon closeArrow"></span>
    </div>
    <div class="d-flex align-items-center justify-content-between">
        <div class="fullscreen-icon d-flex align-items-center justify-content-center" [ngClass]="{ 'me-4': !showSettingsIcon }">
            <span (click)="toggleFullscreen()" class="header_svg cursor-pointer fullscreen"
                >
            </span>
        </div>
        <div *ngIf="showSettingsIcon" class="d-flex align-items-center justify-content-center settings-icon mx-4">
            <span class="header_svg  cursor-pointer setting rotate-animate border-danger " (click)="navigate()"></span>
        </div>
        <div>
            <img (click)="toggleDropdown()" class="cursor-pointer dropdown-profile-img rounded-circle"  width="40px" height="40px" [src]="localStoreService.getUserProfile()" alt="">
        </div>
    </div>
    <div class="card custom-shadow d-flex justify-content-between flex-column border-0" [class.d-none]="!isDropdownVisible">
        <div class="d-flex col-12  align-items-center">
            <div class="d-flex align-items-center">
                <img class="dropdown-profile-img rounded-circle me-2" width="40px" height="40px" [src]="localStoreService.getUserProfile()" alt="">
            </div>
            <div class="d-flex flex-column justify-content-center">
                <div class="text-header fw-700 fs-14px">{{userName}}</div>
                <div class="text-dark fs-12px text-left m-0">{{userRole}}</div>
            </div>

        </div>
        <div>
            <hr class="my-0">
        </div>
        <div class="d-flex col-12 align-items-center cursor-pointer">
            <div class=" profile d-flex align-items-center fs-12px text-left w-100">
                <div class="profile-icon me-2 users-icon"> <img src="" alt=""></div>

                <span class="py-0"> My Profile </span>
            </div>
        </div>
        <div>
            <hr class="my-0">
        </div>
        <div class="">
            <button class="danger_btn danger-btn d-flex justify-content-center align-items-center fs-12px cursor-pointer w-100" (click)="logout()">
                Logout
                <span class="logout-icon"> <img src="" alt=""></span>
            </button>
        </div>

    </div>
</div>
<hr class="m-0 path-line" [ngClass]="{'custom-shadow': !isDetailsPage }">
