<div class="header-wrapper d-flex align-items-center justify-content-between">
    <div>
        <span class="cursor-pointer" [inlineSVG]="'./assets/icons/toggle.svg'"></span>
    </div>
    <div class="d-flex align-items-center">
        <span class="header_svg cursor-pointer" [inlineSVG]="'./assets/icons/fullscreen.svg'"></span>
        <span class="header_svg mx-4 cursor-pointer" [inlineSVG]="'./assets/icons/setting.svg'"></span>
        <div class="profile_img">
            <img src="" alt="">
        </div>
    </div>
</div>