.header-wrapper {
    height: 72px;
    background: #FFFFFF;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .sidebar-toggle-div, .fullscreen-icon, .settings-icon{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .sidebar-toggle-div:hover, .fullscreen-icon:hover,  .settings-icon:hover{
        background-color: #F2F4F6;
    }
}

.profile_img {
    width: 40px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header_svg {
    width: 20px !important;
    height: 20px !important;
    display: flex;
    align-items: center;
}

.header_svg svg {
    width: 100%;
    height: 100%;
}
.path-line{
    color: #D0DBE5 !important;
}

.rotate_icon {
    transform: rotate(180deg);
    transition: transform 1s ease;
}

/* Dropdown card */
.card {
    width: 100%;
    max-width: 224px;
    height: 180px !important;
    position: absolute;
    top: 80px;
    right: 24px;
    // transform: translateX(0);
    background: #FFFFFF;
    border-radius: 8px;
    // box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);    transition: 0.5s ease;
    z-index: 1000;
    padding: 24px 24px 14px 24px;
    // border: none;
   box-sizing: border-box;
   hr{
    color: #D0DBE5 !important;
   }
}


@media (max-width: 768px) {
    .card {
        max-width: 100%;
         right: auto;
        left: 0;
       transform: none;
       padding: 5px;
      }
}

// .card>hr {
//     // margin: 10px 18px;
//     // border: 1px solid #D0DBE5;
// }
// .profile-image-container {
//     display: flex;
//     align-items: center;
// }

// .dropdown-profile-img {
//     width: 40px;
//     height: 40px;
//     margin-right: 10px;
// }

// .text-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }

.text-header {
    // font-family: 'Urbanist', sans-serif;
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 16.8px;
    letter-spacing: -0.02em;
    color: #425466;
    margin: 0;
}

.text-dark {
    // font-family: 'Urbanist', sans-serif;
    // font-size: 12px;
    font-weight: 600;
    line-height: 14.4px;
    // text-align: left;
    color: #8492A6 !important;
    // background: #FFFFFF;
    // margin: 0;
}

.profile {
    // display: flex;
    // align-items: center;
    padding: 7px 5px;
    // font-size: 12px;
    font-weight: 600;
    line-height: 14.4px;
    // text-align: left;
    color: #425466;
    // background: #FFFFFF;
    border-radius: 3px;
    // box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
    // width: 170px;
  
}
.profile:hover {
    background-color: #F2F4F6;
    // padding: 7px 5px;
    // width: 170px;
}

.danger-btn {
    // width: 100%;
    // max-width: 169px;
    height: 28px;
    color: #FFFFFF;
    font-weight: 600;
    // border: none;
    background-color: #EF4444;
    // border-radius: 4px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding: 8px 16px;
    gap: 8px;
    // box-sizing: border-box;
}


@media (max-width: 768px) {
    .danger-btn {
        max-width: 100%;
        padding: 6px 12px;
       }
}
