.wrapper {
    padding: 15px 30px 30px 30px;
}

.features-tab,
.settings-tab,
.organization-details-div {
    border-radius: 16px !important;
}

.settings-tab {
    hr {
        margin: 0 !important;
        color: #EDF2F7;
    }
}

.organization_modal {
    h2 {
        font-weight: 700;
        font-size: 20px;
    }


    .modal-header {
        padding: 40px 40px 0;
    }
}

.organization_update_modal {
    padding: 40px !important;
}

.app-secret,
.app-id {
    input {
        color: #8492A6;
    }
}

.link-text {
    background-color: #F2F4F6;
    border-radius: 16px;
    padding: 4px 8px;
}

.delete-button button {
    color: #EF4444;
    font-weight: 500;
    font-size: 14px;
}

.primary_button {
    font-weight: 500
}

.delete-button button:hover {
    background-color: #EF4444;
    color: #fff;
    font-weight: 500;
}

.delete-button-popup:hover {
    background-color: #b32c2c;

}

.btn-delete {
    background-color: #EF4444;
    font-size: 14px;
}

.p-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}