.wrapper {
    padding: 35px 30px 30px 30px;
}

.features-tab,
.settings-tab,
.organization-details-div {
    border-radius: 16px !important;
}

.settings-tab {
    hr {
        margin: 0 !important;
        color: #EDF2F7;
    }
}

.organization_modal {
    h2 {
        font-weight: 700;
        font-size: 20px;
    }


    .modal-header {
        padding: 40px 40px 0;
    }
}

.organization_update_modal {
    padding: 40px !important;
}

.app-secret {
    margin-top: -10px;
}

.app-secret,
.app-id {
    input {
        color: #000000;
        font-weight: 600;
    }
}

.copied-text {
    // background-color: #2e2e2e;
    color: #22C55E;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 3px;
    letter-spacing: -0.5px;
    transition: display 1s ease-in-out;
    font-weight: bold;

    img {
        margin-right: 2px;
    }
}

.link-text {
    background-color: #F2F4F6;
    border-radius: 16px;
    padding: 4px 8px;
    color: #8492A6;
    font-weight: 500;
}

.table tbody tr td {
    padding: 13px 0px;
    border-bottom-color: #EDF2F7;
}

.table tbody tr td:first-child {
    width: 100px !important;
}

.table tbody tr td:last-child {
    color: #8492ba;
}


.delete-button button {
    color: #EF4444;
    font-weight: 500;
    font-size: 14px;
}

.primary_button {
    font-weight: 500
}

.delete-button button:hover {
    background-color: #EF4444;
    color: #fff;
    font-weight: 500;
}

.delete-button-popup:hover {
    background-color: #b32c2c;

}

.btn-delete {
    background-color: #EF4444;
    font-size: 14px;
}

.p-14 {
    padding-top: 14px;
    padding-bottom: 14px;
}
.bg-yellow{
    background-color: #F59E0B !important;
}
.bg-yellow:hover{
    background-color: #ec990a !important;
}

::ng-deep .custom-delete-user-modal{
 
    ::ng-deep .modal-content{
        width: 620px !important;
        border-radius: 16px !important;
        margin-left: 60px !important;
    }
    .modal-dialog-box{
        padding: 40px;
        .modal-body{
            padding-top: 24px;
            padding-bottom: 30px;
        }
    }
}