.ng-select.ng-select-single .ng-select-container {
    height: 46px;
    border-radius: 7px
}

small {
    position: absolute;
    font-size: 12px;
}

.custom-input-error {

    input,
    input:focus {
        box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
        border-color: red !important;
    }
}

.ng-select.ng-select-single .ng-select-container {
    height: 46px !important;
    border-color: rgba(111, 97, 207, 1) !important;
    box-shadow: none !important;
}

.role-select {
    border-color: red !important;

    .ng-select-container .ng-has-value {
        display: none !important;
    }
}

