.modal-body{
    padding: 40px !important;
    .invite-header{
        padding-bottom: 24px;
    }
}
small {
    position: absolute;
    font-size: 12px;
}

.custom-input-error {

    input,
    input:focus {
        padding: 10px 16px !important;
        box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
        border-color: red !important;
    }
}


.role-select {
    border-color: red !important;

    .ng-select-container .ng-has-value {
        display: none !important;
    }
}