<div class="modal-dialog-box">
  <div class="pt-0">
    <div
      class="modal-header border-bottom-0 d-flex justify-content-between align-items-baseline"
    >
      <h3>Add Todo</h3>
    </div>
    <div class="modal-body" >
      <form [formGroup]="form">
        <div class="text fw-600 color-8492A6">
          <div class="ms-2 custom-input">
            <label
              for="exampleFormControlInput1"
              class="form-label mb-1 fs-14px fw-700 required"
              >Title</label
            >
            <input
              type="text"
              class="form-control dataTableSearch"
              placeholder="Enter Title"
              formControlName="title"
            />
          </div>
          <div class="ms-2 mt-3 custom-input">
            <label
              for="exampleFormControlInput1"
              class="form-label mb-1 fs-14px fw-700 required"
              >Description</label
            >
            <textarea name="" rows="7" class="form-control" id="" formControlName="description"></textarea>
          </div>
          <div class="ms-2 mt-3 custom-input">
            <label
              for="exampleFormControlInput1"
              class="form-label mb-1 fs-14px fw-700"
              >Add reminer</label
            >
            <input
              type="text"
              placeholder="Datepicker"
              class="form-control"
              bsDatePicker
              formControlName="reminderDate"
            />
            <label
              for="exampleFormControlInput1"
              class="form-label mb-1 fs-14px fw-700"
              >(Optional)</label
            >
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer border-top-0 d-flex justify-content-end">
      <div class="buttons">
        <button type="button" class="cancel_btn me-2" (click)="closeModal()">
          No, cancel
        </button>
        <button (click)="submit()" type="submit" class="primary_button" [disabled]="isLoading">
          Save <i class="bi bi-arrow-right ms-2 mt-1" *ngIf="!isLoading"></i>
          <span
            class="spinner-border spinner-border-sm"
            *ngIf="isLoading"
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>
