.wrapper {
    padding: 30px 40px 40px 40px;
.row{

    .custom-card {
        height: 100px;
        width: 100%;
        background-color: #fff;
        padding: 27px 24px;
        border: none;
        border-radius: 16px;
        --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
        --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
        // .semi-bold-font{
        //     // text-wrap: nowrap;
        // }

        .card-icon-div {
            width: 50px;
            height: 50px;
            border-radius: 8px;

            i {
                color: #fff;
            }
        }
    }
}
}
.sso_card{
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

@media (min-width: 600px) and  (max-width: 989px) {
    .container {
      flex-direction: column; 
    }
}
.bg-FBC8D4 {
    background-color: #FBC8D4;
}

.bg-9795F0 {
    background-color:
        #9795F0;
}

.bg-2DD1DB {
    background-color:
        #2DD1DB;
}

.bg-F7B06F {
    background-color: #F7B06F;
}
.activity-log{
    letter-spacing: -0.5px;
}