<div class="wrapper">



    <div class="header d-flex justify-content-between">
        <div>
            <div class="fs-20px bold-font">Hi, Kilven William 👋</div>
            <div class="fs-14px color-8492A6">Welcome back, nice to see you again!!!</div>
        </div>
        <div class="mt-2 d-flex justify-content-center">
  <button class="primary_button d-flex justify-content-center" routerLink="settings">
 <span class="setting-icon rotate-animate me-1 ">
     
   </span>
   <span class="bold-font fs-14px">Settings</span>
    
    
  </button>
</div>
    </div>

    

    <div class="cards-div justify-content-between">

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3  mt-4">
                <div class="custom-card d-flex">
                    <div class="card-icon-div d-flex justify-content-center align-items-center bg-FBC8D4  me-3"><i><img src="../../../../assets/icons/user-icon1.svg" alt=""></i></div>
                    <div>
                        <div class="fs-14px color-8492A6 semi-bold-font">Total Users</div>
                        <div class="fs-20px bold-font">350</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3  mt-4">
                <div class="custom-card d-flex">
                    <div class="card-icon-div d-flex justify-content-center align-items-center bg-9795F0 me-3"><i><img src="../../../../assets/icons/building.svg" alt=""></i></div>
                    <div>
                        <div class="fs-14px color-8492A6 semi-bold-font">Total Organizations</div>
                        <div class="fs-20px bold-font">215</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-4">
                <div class="custom-card d-flex">
                    <div class="card-icon-div d-flex justify-content-center align-items-center bg-2DD1DB  me-3"><i><img src="../../../../assets/icons/logs-icon.svg" alt=""></i></div>
                    <div>
                        <div class="fs-14px color-8492A6 semi-bold-font">Current Logged In</div>
                        <div class="fs-20px bold-font">1500</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mt-4">
                <div class="custom-card d-flex">
                    <div class="card-icon-div d-flex justify-content-center align-items-center bg-F7B06F  me-3"><i><img src="../../../../assets/icons/applications-icon.svg" alt=""></i></div>
                    <div>
                        <div class="fs-14px color-8492A6 semi-bold-font">Total Applications</div>
                        <div class="fs-20px bold-font">57</div>
                    </div>
                </div>
            </div>
        </div>
       

        

        

        

    </div>
</div>