.bg-light-gray {
    background-color: #F1F5F9;
    padding: 10px;
    border-radius: 4px;
}

.custom-checkbox-lg {
    width: 33px;
    height: 14px;
    color: #D0DBE5;
}
.custom-control-label {
    color: #425466;
}
.dark-light {
    color: #8492A6;
}
.hr{
    color: #535f6b !important;

}
.add_button:hover{
    text-decoration-line: underline;
}
.model {
    width: 100%;
    height: auto;
   }
   .scrollable-content {
       max-height: 460px;
       overflow-y: auto;
       overflow-x: hidden;
     
   }
   
