.custom-dropdown {

  /* For single select */
  ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 46px;
    border: 1px solid #dee2e6;
    border-radius: 7px !important;
  }

  ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
  }

  ::ng-deep .ng-select.custom-select.ng-select-focused .ng-select-container {
    border-color: rgba(111, 97, 207, 1) !important;
    box-shadow: 0 0 0 0.25rem rgba(111, 97, 207, 0.20) !important;
  }

  ::ng-deep ng-select.custom-select-error .ng-select-container {
    box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
    border-color: #EF4444 !important;
  }

  ::ng-deep ng-select.custom-select.has-value .ng-select-container {
    box-shadow: none !important;
  }

  ::ng-deep ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: rgba(208, 219, 229, 1) !important;
    box-shadow: none !important;
  }

  ::ng-deep .ng-dropdown-panel {
    border: none !important;
    opacity: 1 !important;
    margin-top: 5px !important;
    background: #fff !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  ::ng-deep .ng-option {
    font-size: 14px;
    font-weight: 600;
  }

  ::ng-deep .ng-option:hover {
    background-color: #f2f4f6 !important;
    color: #333 !important;
  }

  ::ng-deep .ng-option-selected,
  ::ng-deep .ng-option-selected:hover {
    background-color: #f2f4f6 !important;
    color: #6f61cf !important;
  }

  ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #f2f4f6 !important;
  }

  ::ng-deep .ng-select .ng-clear-wrapper {
    display: none;
  }

  ::ng-deep .ng-select .ng-placeholder {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: rgba(132, 146, 166, 1) !important;
  }

  /* For multiple select */
  ::ng-deep .ng-select.ng-select-multiple .ng-select-container {
    border: 1px solid #dee2e6;
    border-radius: 7px !important;
    padding: 4px 8px;
    min-height: 46px;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
    margin: 2px;
  }

  ::ng-deep .ng-select.ng-select-multiple.ng-select-focused .ng-select-container {
    border-color: rgba(111, 97, 207, 1) !important;
    box-shadow: 0 0 0 0.25rem rgba(111, 97, 207, 0.20) !important;
  }

  ::ng-deep .ng-select.ng-select-multiple.ng-select-focused:not(.ng-select-opened) .ng-select-container {
    border-color: rgba(208, 219, 229, 1) !important;
    box-shadow: none !important;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-dropdown-panel {
    border: none !important;
    opacity: 1 !important;
    margin-top: 5px !important;
    background: #fff !important;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-option {
    font-size: 14px;
    font-weight: 600;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-option:hover {
    background-color: #f2f4f6 !important;
    color: #333 !important;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-option-selected,
  ::ng-deep .ng-select.ng-select-multiple .ng-option-selected:hover {
    background-color: #f2f4f6 !important;
    color: #6f61cf !important;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #f2f4f6 !important;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-clear-wrapper {
    display: none;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-placeholder {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: rgba(132, 146, 166, 1) !important;
    padding: 0;
    margin-top: -4px;
    line-height: 46px;
  }
}