.custom-button {
    border-radius: 1.2rem;
    width: auto;
    height: auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-color: #6F61CF;
    background-color: #6F61CF;

}

.custom-button-danger {
    color: #EF4444;
    border-color: #EF4444;
    background-color: #FFE8E8;
    transition: all 0.3s ease;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    height: 43px;
}

.custom-button-danger:hover {
    color: #FFFFFF;
    border-color: #EF4444;
    background-color: #EF4444;
}

.custom-button-danger:active {
    color: #FFFFFF;
    border-color: #EF4444;
    background-color: #EF4444;
}

.bg-light-gray {
    background-color: #F1F5F9;
    padding: 10px;
    border-radius: 4px;
}

.custom-checkbox-lg {
    width: 24px;
    height: 24px;
    color: #D0DBE5;
}

.form-label {
    margin-bottom: 0.5rem;
}
.dark-light {
    color: #8492A6;
}
tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: #EDF2F7
    
}