.custom-button {
    border-radius: 1.2rem;
    width: auto;
    height: auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-color: #6F61CF;
    background-color: #6F61CF;

}

.bg-light-gray {
    background-color: #F1F5F9;
    padding: 10px;
    border-radius: 4px;
}

.custom-checkbox-lg {
    width: 33px;
    height: 14px;
    color: #D0DBE5;
}

.form-label {
    margin-bottom: 0.5rem;
}

.dark-light {
    color: #8492A6;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: #EDF2F7
}

.custom-control-label {
    color: #425466;
}

.w-200px {
    width: 200px !important;
}

.sso_card {
    table tbody tr td {
        padding: 13px 0;
    }
}