
.organization_modal{
    h2{
        font-weight: 700;
        font-size: 22px;
    }
    .modal-body{
        padding: 22px 40px 40px;
        input::placeholder {
            font-size: 16px;
            color: rgba(132, 146, 166, 1);
          }
    }
    .modal-header{
        padding: 40px 40px 0;
    }
}