<div class="pagination">
    <button (click)="previousPage()" [ngClass]="{'active-previus-button': previousClicked && currentPage > 1}" [disabled]="currentPage === 1">Previous</button>

    <ng-container *ngFor="let page of paginationArray">
      <button
        *ngIf="page !== '...'"
        (click)="goToPage(page)"
        [class.active]="page === currentPage"
      >
        {{ page }}
      </button>
      <span *ngIf="page === '...'">...</span>
    </ng-container>

    <button (click)="nextPage()" [ngClass]="{'active-next-button': nextClicked && currentPage < totalPages}" [disabled]="currentPage === totalPages">Next</button>
  </div>
