.pagination {
  display: flex;
  align-items: center;
}

button {
  margin: 0 2px;
  padding: 5px 12px;
  border: 1px solid rgba(208, 219, 229, 1);
  color: rgba(132, 146, 166, 1);
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: rgba(241, 245, 249, 1);
}

button.active {
  background-color: #6F61CF !important;
  color: #fff;
  border-color: #6F61CF !important;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

span {
  margin: 0 12px;
}

.active-button {
  background-color: #6F61CF !important;
  color: white !important;

}

.active-next-button {
  background-color: rgba(241, 245, 249, 1);
}

.active-previus-button {
  background-color: rgba(241, 245, 249, 1);
}