.btn-delete {
    background-color: #EF4444;
    font-size: 14px;
}
.btn-delete:hover{
    background-color: #e42d2d;
}

::ng-deep .custom-delete-user-modal{
 
    ::ng-deep .modal-content{
        width: 620px !important;
        border-radius: 16px !important;
        margin-left: 60px !important;
    }
    .modal-dialog-box{
        padding: 40px;
        .modal-body{
            padding-top: 24px;
            padding-bottom: 30px;
        }
    }
}