<div class="layout d-flex">
    <div class="sidebar-wrapper h-100" [ngClass]="{'sidebar-hide': isSidebarVisible}">
        <app-sidebar></app-sidebar>
    </div>
    <div class="layout_inner" [class.expand]="isSidebarVisible"[ngClass]="{'hide-contentbar': !isSidebarVisible}" >
        <app-header class="mt-2"></app-header>
        <!-- <app-content></app-content> -->
        <div class="content-wrapper" [ngClass]="!isSidebarVisible? 'reduce-opacity': ''">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>