.layout{
    height: calc(100vh - 0px);
    .layout_inner{
        position: absolute;
        left: 0;
        margin-left: 250px;
        width: calc(100% - 250px);
        transition: .5s ease;
        height: 100%;
    }
}
.layout_inner.expand {
    width: calc(100% - 0px) !important;
    margin-left: 0px !important;
    transition: .5s ease;
    transition: z-index 0.5s ease;
    z-index: inherit;
}

.content-wrapper{
    height: calc(100% - 72px);
    overflow-y: auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .layout_inner{
        position: absolute;
        left: 0;
        margin-left: 0px !important;
        width: 100% !important;
        transition: .5s ease;
        height: 100%;
    }
    .sidebar-wrapper{
        z-index: 1;
        margin-top: 73px !important;
        transition: transform 0.5s ease-in;
    }
    .reduce-opacity{
        opacity: 0.5;
    }
    .sidebar-hide{
       transform: translateX(-100%);
    }
    .hide-contentbar{
        pointer-events: none;
    }
}

