.wrapper {
    padding: 40px;

    .tabs-div {
        padding: 24px 24px 36px 24px;
        border-radius: 16px;
        box-shadow: 0px 3px 8px -1px #3232470D;
        box-shadow: 0px 0px 1px 0px #0C1A4B3D;

    }

    .tabs-div {
        small {
            position: absolute;
            font-size: 12px
        }

        ;

        .main-div {
            input::placeholder {
                font-weight: 500;
            }
        }
    }
}

.custom-select {
    border-radius: 6px;
    border-color: #dcdcdc;
    height: 46px;

}

.custom-input-error {

    input,
    input:focus {
        box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
        border-color: red !important;
    }
}

.disabled-input {
    input {
        background-color: #F1F5F9;
        font-size: 14px;
        font-weight: 500;
    }

    input,
    input:focus {
        border-color: #D0DBE5;
        box-shadow: none !important;
        height: 46px;
        background-color: #F1F5F9;
        color: #8492A6;

    }

    input::placeholder {
        color:
            #8492A6;
    }
}