.bg-login {
  background-image: url('../../../../assets/images/background-images/background-2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.common_modal{
.header-content{
  letter-spacing: -0.5px;
}
input{
  letter-spacing: 0px;
}
input::placeholder{
  letter-spacing: 0px !important;
}
input[type="password"]{
  letter-spacing: 0.1rem;
  font-size: 24px;
}
}

.sign-in-div{
  margin-top: 2rem;
}

.forgot-password{
  margin-top: -5px !important;
}

@media (max-width: 768px) {
  .bg-login {
    min-height: auto;
  }
}

.logo {
  background-image: url('../../../../assets/icons/Tech-bar-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2.75em;
  width: 148px
}

.login-box {
  width: 480px;
  background-color: white !important;
  border-radius: 10px;
  padding: 40px !important;
  z-index: 1000;
  --bs-box-shadow-sm: 0 3px 10px rgba(0, 0, 0, 0.1);

}

.btn-clr, .btn-clr:active {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  background-color: #6F61CF;
  color: #FFFFFF;
  height: 46px !important;
  
}

.text-clr {
  color: #6F61CF;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.text-clr:hover{
  text-decoration: underline;
}

.text-clr2 {
  color: #6F61CF;
  font-weight: 600;
  font-size: 12px;
  line-height: 21.2px;
  }

.text-clr2:hover {
  text-decoration: underline;
}
.dark-light {
  color: #8492A6;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

input::placeholder {
  color: #8492A6;
  opacity: 1;
}

.header-content {
  font-weight: 900 !important;
  font-size: 24px;
  line-height: 32.4px;
}


.eye2 {
  top: 67%;
    right: 29px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 18px;
    height: 14px;
    background-size: cover;
    background-position: center;
}

.eye-open {
  background-image: url('../../../../assets/icons/eye-hide.svg');
}

.eye-closed {
  background-image: url('../../../../assets//icons/EYE-3.svg');
  }
  .is-invalid, .is-invalid:focus{
    box-shadow: 0 0 0 0.25rem rgba(243, 3, 3, 0.2) !important;
    border-color: #f00606 !important;
    padding: 8px 16px !important;
}


