<div class="data_table_wrapper pb-0">
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th class="align-content-center" *ngFor="let column of getUpdatedColumns()">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody [ngClass]="{'tbody-empty': filterData.length === 0}">
      <tr *ngFor="let row of filterData" [ngClass]="{'cursor-pointer': module !== 'dashboard'}" (click)="onRowClick(row)">
        <td class="align-content-center" style="font-size: 12px;" *ngFor="let column of columns">
          <ng-container [ngSwitch]="column">
            <span *ngSwitchCase="'email'">
              <img class="rounded-circle me-2" [src]="row['profile_picture']" height="24px" />
              {{ row[column]}}
            </span>
            <span *ngSwitchCase="'first_name'">{{ row[column]}} {{row['last_name'] }}</span>
            <span *ngSwitchCase="'created_at'">{{ row[column] | date: 'dd-MM-yyyy' }}</span>
            <span *ngSwitchCase="'status'" [ngClass]="row[column] == 'active' ? 'badge badge-light-success text-capitalize' : 'badge badge-light-warning text-capitalize'">{{row[column]}}</span>
            <span *ngSwitchCase="'role'">{{getRole(row[column]) || '-'}}</span>
            <span *ngSwitchCase="'organization'">{{getOrganization(row[column]) || '-'}}</span>
            <span *ngSwitchCase="'description'">{{row[column].length > 50? ( row[column] | slice:0:50) + ' ...' :  row[column]  || '-'}}</span>
            <span *ngSwitchCase="'created_by'">
              <img class="rounded-circle" [src]="getCreatedByPicture(row[column])" height="24px" />
              {{getCreatedBy(row[column]) || '-'}}
            </span>
            <span *ngSwitchDefault>{{ row[column]}}</span>
          </ng-container>
        </td>
      </tr>
      <tr *ngIf="filterData.length === 0" class="text-center tbody-empty">
        <td [attr.colspan]="columns.length" class="font_weight_600">No Data Found</td>
      </tr>
    </tbody>
  </table>
  <div class="dataTable_pagination d-flex align-items-center justify-content-between" *ngIf="filterData.length">
    <div>
      <p class="mb-0 fw-600 color-8492A6 fs-14px">
        Showing {{startItem}} to {{endItem}} of {{config.paginationParams.total_records}} results
      </p>
    </div>
    <div>
      <app-pagination 
        [totalPages]="config.paginationParams.total_pages" 
        [currentPage]="config.paginationParams.current_page" 
        (currentPageChange)="onPageChange($event)">
      </app-pagination>
    </div>
  </div>
</div>
