<div class="data_table_wrapper pb-0">
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <!-- Render static headers based on the 'columns' input -->
                <th class="align-content-center" *ngFor="let column of columns">{{ column.name }}</th>
            </tr>
        </thead>
        <tbody>
            <!-- Render rows based on 'filterData' -->
            <tr *ngFor="let data of filterData" class="cursor-pointer" (click)="onRowClick(data)">
                <!-- Map the data fields to the columns based on their names -->
                <td class="align-content-center">{{ data.email ?? '' }}</td>
                <td class="align-content-center">{{ (data?.first_name + ' ' + data?.last_name) || '' }}</td>
                <td class="align-content-center">{{ data.organization.name ?? '' }}</td>
                <td class="align-content-center">{{ data.role.name ?? '' }}</td>
                <td class="align-content-center">
                    <span class="{{data.status === 'active' ? 'badge badge-light-success' : 'badge badge-light-warning'}}">
                        {{data.status || ''}}
                    </span>
                </td>
                <td class="align-content-center">{{ data.creationDate || '' }}</td>
            </tr>
            <tr *ngIf="filterData.length === 0" class="text-center">
                <td colspan="columns.length" class="font_weight_600">No Search Found</td>
            </tr>
        </tbody>
    </table>
    <div class="dataTable_pagination d-flex align-items-center justify-content-between">
        <div>
            <p class="mb-0 fs-14px fw-500 color-8492A6 fw-600">
                Showing 1 to {{filterData.length}} of {{config.paginationParams.total_records}} results
            </p>
        </div>
        <div>
            <app-pagination [totalPages]="config.paginationParams.total_pages" [(currentPage)]="config.paginationParams.current_page"></app-pagination>
        </div>
    </div>
</div>