.data_table_wrapper{
    height: 100%;
    overflow-y: auto;
    padding-bottom: 30px;
    table{
        thead{
            tr{
                background-color: #EDF2F7;
                th{
                    text-transform: uppercase;
                    padding: 18px !important;
                    color: #8492A6;
                    font-size: 14px;
                    font-weight: 600;
                    border-bottom: none;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 18px !important;
                    color: rgba(66, 84, 102, 1);
                    font-weight: 400;
                }
            }
        }
    }
    .dataTable_pagination{
        padding: 0 18px;
        p{
            color: rgba(66, 84, 102, 1);
        }
    }
}