.wrapper {
  padding: 30px;
}

.fyp {
  transition: scale 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.actions{
    visibility: hidden;
}
.fyp:hover {
  scale: 1.05;
  .actions{

    visibility: visible;
  }
}
