
<div class="wrapper">
    <div class="sso_card w-100 h-100">
        <div class="d-block d-md-flex align-items-center justify-content-between dataTable_header">
            <h4 class="primary_color ms-0 ms-md-3 mb-3 mb-md-0 table-header-letter-spacing">Roles & Permissions</h4>
            <div class="d-block d-md-flex">
                <div class="position-relative display-flex ms-0 ms-md-3 mb-3 mb-md-0 custom-input">
                    <input type="text" class="form-control dataTableSearch" [(ngModel)]="searchTerm"
                        placeholder="Search by name or domain">
                    <span class="search_icon searchIcon" ></span>
                </div>
                <div class="d-flex">
                    <button type="button" class="btn filter_btn ms-0 ms-md-3 mb-3 mb-md-0">
                        <span class="me-2 filterIcon"></span> Filter
                    </button>
                </div>
                <button type="button" class="primary_button ms-0 ms-md-3 mb-3 mb-md-0" (click)="permissionUser()">Create Roles</button>
            </div>
        </div>
        <app-data-table [columns]="columns" [config]="tableConfig" [dataSet]="roleslist"
            [searchTerm]="searchTerm" [module]="'roles'"></app-data-table>
    </div>
</div>
