<div class="bg-login d-flex justify-content-center align-items-center">
  <div class="border-0 shadow-sm rounded-4 login-box">
    <div class="">
      <div class="row">
        <div class="logo"></div>
        <div class="col-12">
          <div class="mb-4"></div>
          <div class="common_modal">
            <div class="modal-header border-bottom-0">
              <h2 class="mb-0 header-content">Create New Account</h2>
            </div>
            <div class="d-flex dark-light">
              Happy to see you here! Sign up to create a new account.
            </div>
            <div class="modal-body mt-4">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <!-- User Name Field -->
                <div class="row custom-input mb-4">
                  <div class="input-container">
                    <label for="name" class="label-font required">User Name</label>
                    <input
                      id="name"
                      type="text"
                      class="form-control"
                      formControlName="name"
                      [ngClass]="{'is-invalid': isControlHasError('name', 'required')}"
                      placeholder="Enter user name"
                      (blur)="onControlBlur('name')"
                    />
                    <span *ngIf="isControlHasError('name', 'required')" class="text-danger fs-8 ps-3 pt-1">
                      Name is required
                    </span>
                  </div>
                </div>

                <!-- Email Field -->
                <div class="row mt-3 custom-input mb-4">
                  <div class="input-container">
                    <label for="email" class="label-font required">Email</label>
                    <input
                      id="email"
                      type="email"
                      class="form-control"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid': isControlHasError('email', 'required') || isControlHasError('email', 'email')
                      }"
                      placeholder="Enter email address"
                      (blur)="onControlBlur('email')"
                    />
                    <span *ngIf="isControlHasError('email', 'required')" class="text-danger fs-8 ps-3 pt-1">
                      Email is required
                    </span>
                    <span *ngIf="isControlHasError('email', 'email')" class="text-danger fs-8 ps-3 pt-1">
                      Enter a valid email address
                    </span>
                  </div>
                </div>

                <!-- Password Field -->
               <div class="row mt-3 custom-input">
                  <div class="input-container position-relative">
                    <label for="password" class="label-font required">Password</label>
                    <input id="password" [type]="hidePassword ? 'password' : 'text'" class="form-control"
                      formControlName="password" [ngClass]="{'is-invalid': isControlHasError('password', 'required')}"
                      placeholder="Enter password" (blur)="onControlBlur('password')" />
                    <i class="eye2 position-absolute" (click)="togglePasswordVisibility()"
                      [ngClass]="{'eye-open': !hidePassword, 'eye-closed': hidePassword}"></i>
                    <span *ngIf="isControlHasError('password', 'required')" class="text-danger fs-8 ps-3 pt-1">
                      Password is required
                    </span>
                  </div>
                </div>

                <div class="col-12 mt-5">
                  <div class="d-grid">
                    <button class="btn btn-clr" type="submit">Create Account</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="d-flex flex-column flex-md-row justify-content-center mt-2 mb-2">
              <div class="dark-light pe-1">Already have an account?</div>
              <div class="text-clr cursor-pointer" [routerLink]="['/login']">Sign in</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
