<div class="main-container">
  <div class="d-flex flex-column justify-content-center p-5 w-75">
    <div class="p-5 pt-0">
      <div class="p-5 bg-white main-div custom-shadow">
        <h4 class="fs-20px fw-700 mb-3">Register Yourself</h4>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="">
          <div class="d-md-flex justify-content-between ">
            <div class="mb-4 custom-input col-12 col-md-6 me-4"
              [ngClass]="isControlHasError('firstName', 'required') ? 'custom-input-error' : 'custom-input'">
              <label for="firstName" class="form-label mb-1 fs-14px fw-700 required">First Name </label>
              <input type="text" class="form-control fs-14px" id="firstName" placeholder="Enter first name"
                formControlName="firstName">
              <small *ngIf="isControlHasError('firstName', 'required')" class="text-danger mt-1">First Name is
                required</small>
            </div>
            <div class="mb-4 custom-input col-12 col-md-6 pe-md-3"
              [ngClass]="isControlHasError('lastName', 'required') ? 'custom-input-error' : 'custom-input'">
              <label for="lastName" class="form-label mb-1 fs-14px fw-700 required">Last Name </label>
              <input type="text" class="form-control fs-14px" id="lastName" placeholder="Enter last name"
                formControlName="lastName">
              <small *ngIf="isControlHasError('lastName', 'required')" class="text-danger mt-1">Last Name is
                required</small>
            </div>
          </div>

          <div class="d-md-flex justify-content-between ">
            <div class="mb-4 custom-input col-12 col-md-6 me-4"
              [ngClass]="isControlHasError('username', 'required') ? 'custom-input-error' : 'custom-input'">
              <label for="username" class="form-label mb-1 fs-14px fw-700 required">User Name </label>
              <input type="text" class="form-control fs-14px" id="username" placeholder="Enter username"
                formControlName="username">
              <small *ngIf="isControlHasError('username', 'required')" class="text-danger mt-1">User Name is
                required</small>
            </div>
            <div class="mb-4 custom-input col-12 col-md-6 pe-md-3"
              [ngClass]="isControlHasError('phoneNumber', 'required') ? 'custom-input-error' : 'custom-input'">
              <label for="phoneNumber" class="form-label mb-1 fs-14px fw-700 required">Phone Number </label>
              <input type="number" class="form-control fs-14px" id="phoneNumber" placeholder="Enter phone number"
                formControlName="phoneNumber">
              <small *ngIf="isControlHasError('phoneNumber', 'required')" class="text-danger mt-1">Phone number is
                required</small>
            </div>
          </div>

          <!-- Password Fields -->
          <div class="d-md-flex justify-content-between">
            <div class="mb-4 custom-input col-12 col-md-6 me-4 position-relative" 
            [ngClass]="{'custom-input-error': isControlHasError('password', 'required') || getPasswordErrors()['minlength'] || getPasswordErrors()['uppercase'] || getPasswordErrors()['lowercase'] || getPasswordErrors()['digit'] || getPasswordErrors()['special']}"
            >
              <label for="password" class="form-label mb-1 fs-14px fw-700 required">Password </label>
              <input id="password" [type]="hidePassword? 'password': 'text'" class="form-control fs-14px" formControlName="password" 
                [ngClass]="{'is-invalid': isControlHasError('password', 'required') || isControlHasError('password', 'minlength')}"
                placeholder="Enter new password">
                <i class="eye2 position-absolute" (click)="togglePasswordVisibility(1)"
                      [ngClass]="{'eye-open': !hidePassword, 'eye-closed': hidePassword}"></i>
                  <small *ngIf="isControlHasError('password', 'required')" class="text-danger fs-8 ps-3 pt-1">
                    Password is required
                  </small>
                  <small *ngIf="getPasswordErrors()['minlength'] && !isControlHasError('password', 'required')" class="text-danger mt-1">
                    Password must be at least 8 characters
                  </small>
                  <small *ngIf="getPasswordErrors()['uppercase'] && !isControlHasError('password', 'required') && !getPasswordErrors()['minlength']" class="text-danger fs-8 ps-3 pt-1">
                    Password must include at least one uppercase letter
                  </small>
                  <small *ngIf="getPasswordErrors()['lowercase'] && !isControlHasError('password', 'required') && !getPasswordErrors()['minlength'] && !getPasswordErrors()['uppercase']" class="text-danger fs-8 ps-3 pt-1">
                    Password must include at least one lowercase letter
                  </small>
                  <small *ngIf="getPasswordErrors()['digit'] && !isControlHasError('password', 'required') && !getPasswordErrors()['minlength'] && !getPasswordErrors()['uppercase'] && !getPasswordErrors()['lowercase']" class="text-danger fs-8 ps-3 pt-1">
                    Password must include at least one digit
                  </small>
                  <small *ngIf="getPasswordErrors()['special'] && !isControlHasError('password', 'required') && !getPasswordErrors()['minlength'] && !getPasswordErrors()['uppercase'] && !getPasswordErrors()['lowercase'] && !getPasswordErrors()['digit']" class="text-danger fs-8 ps-3 pt-1">
                    Password must include at least one special character
                  </small>
            </div>
            <div class="mb-4 custom-input col-12 col-md-6 pe-md-3 position-relative">
              <label for="confirmPassword" class="form-label mb-1 fs-14px fw-700 required">Re-Type Password </label>
              <input id="confirmPassword" [type]="hideConfirmPassword? 'password': 'text'" class="form-control fs-14px" formControlName="confirmPassword"
                [ngClass]="{'is-invalid': isControlHasError('confirmPassword', 'required') || (registerForm.hasError('mismatch') && (registerForm.get('confirmPassword')?.touched || registerForm.get('password')?.touched))}"
                placeholder="Confirm your password">
                <i class="eye2 position-absolute confirm-icon" (click)="togglePasswordVisibility(2)"
                      [ngClass]="{'eye-open': !hideConfirmPassword, 'eye-closed': hideConfirmPassword}"></i>
              <small *ngIf="isControlHasError('confirmPassword', 'required')" class="text-danger fs-8 pt-1">Confirm
                password is required</small>
              <small
                *ngIf="registerForm.hasError('mismatch') && (registerForm.get('confirmPassword')?.touched || registerForm.get('password')?.touched)"
                class="text-danger fs-8 pt-1">Passwords do not match</small>
            </div>
          </div>

          <!-- Disabled Fields -->
          <div class="d-md-flex justify-content-between ">
            <div class="mb-4 custom-input col-12 col-md-6 me-4">
              <label for="email" class="form-label mb-1 fs-14px fw-700 required">Email </label>
              <input type="text" class="form-control fs-14px" id="email" placeholder="Enter email address"
                formControlName="email" [disabled]="true" [value]="registerForm.get('email')?.value">
            </div>
            <div class="mb-4 custom-input col-12 col-md-6 pe-md-3">
              <label for="role" class="form-label mb-1 fs-14px fw-700 required">Role </label>
              <input type="text" class="form-control fs-14px" id="role" formControlName="role" [disabled]="true"
                [value]="registerForm.get('role')?.value">
            </div>
          </div>
          <div class="d-md-flex justify-content-end mt-4">
            <button type="submit" class="primary_button" [disabled]="isLoading">
              <span class="spinner-border spinner-border-sm" *ngIf="isLoading">
              </span>
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>