<div class="main-div">
    <div class="sso_card w-100 h-100">
        <div class="d-flex align-items-center justify-content-between dataTable_header">
            <h4 class="primary_color mb-0 table-header-letter-spacing">Applications</h4>
            <div class="d-flex">
                <div class="position-relative display-flex ms-2 custom-input">
                    <input type="text" class="form-control dataTableSearch" [(ngModel)]="searchTerm"
                        placeholder="Search by name or domain" (keyup)="onKeyChange($event)">
                    <span class="search_icon searchIcon"></span>
                </div>
                <button type="button" class="btn filter_btn ms-2">
                    <span class="me-2 filterIcon"></span> Filter</button>
                <button type="button" class="primary_button ms-2" (click)="createApplication()">Createddd
                    Application</button>
            </div>
        </div>
            <app-data-table [columns]="columns" [config]="tableConfig" [dataSet]="applicationList"
            [searchTerm]="searchTerm" (changePage)="applicationListing($event)" [module]="'application'"></app-data-table>
</div>
