<div class="main-div">
  <div class="sso_card w-100 h-100">
    <div
      class="d-flex align-items-center justify-content-between dataTable_header pb-0"
    >
      <h4 class="primary_color mb-0 table-header-letter-spacing">
        Applications
      </h4>
      <div class="d-flex">
        <div class="position-relative display-flex ms-2 custom-input">
          <input
            type="text"
            class="form-control dataTableSearch"
            [(ngModel)]="searchTerm"
            placeholder="Search by name or domain"
            
          />
          <span class="search_icon searchIcon"></span>
        </div>
        <button type="button" class="btn filter_btn ms-2 d-none">
          <span class="me-2 filterIcon"></span> Filter
        </button>
        <button
          type="button"
          class="primary_button ms-2"
          (click)="createTodo()"
        >
          Create Application
        </button>
      </div>
    </div>
    <div class="data_table_wrapper pb-0">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>S No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of data; let i = index">
            <tr>
              <td class="align-content-center" style="font-size: 12px">{{i + 1}}</td>
              <td class="align-content-center" style="font-size: 12px">
                {{ item?.title }}
              </td>
              <td class="align-content-center" style="font-size: 12px">
                {{ item?.description }}
              </td>
              <td class="align-content-center" style="font-size: 12px">
                <div>
                    <span [ngClass]="item?.isCompleted ? 'badge badge-success': 'warning_badge badge badge-warning'" ng>{{item?.isCompleted ? 'Completed': 'Pending'}}</span>
                </div>
              </td>
              <td class="align-content-center" style="font-size: 12px">
                <div class="d-flex gap-3 align-content-center">
                    <button class="btn btn-outline-danger d-flex justify-content-center align-items-center">
                  <i
                    (click)="
                      openDeleteModal(
                        'Are You sure, you want to delete all assignments?',
                        item?._id
                      )
                    "
                    class="bi bi-trash"
                  ></i></button>
                  <button *ngIf="!item?.isCompleted" class="primary_button d-flex justify-content-center align-items-center">
                  <i
                    (click)="changeStatus(item._id)"
                    class="bi bi-check ms-2 fs-2"
                  ></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div *ngIf="!data.length" class="text-center" style="margin-top: 60px; margin-bottom: 40px;">
        No Data Found
      </div>
      <div
        class="dataTable_pagination d-flex align-items-center justify-content-between"
        *ngIf="data.length"
      >
        <div>
          <p class="mb-0 fw-600 color-8492A6 fs-14px">
            <!-- Showing {{startItem}} to {{endItem}} of {{config.paginationParams.total_records}} results -->
            Showing {{ data.length }} results
          </p>
        </div>
        <div>
          <!-- <app-pagination 
        [totalPages]="config.paginationParams.total_pages" 
        [currentPage]="config.paginationParams.current_page" 
        (currentPageChange)="onPageChange($event)">
      </app-pagination> -->
        </div>
      </div>
    </div>
  </div>
</div>
