<div class="path d-flex pt-1 bg-white ps-4 custom-shadow semi-bold-font">
  <span class="color-8492A6 fs-12px mt-1px cursor-pointer" routerLink="/layout/roles">Roles & Permission</span>
  <span class="mx-1"><img class="mb-1" src="../../../../assets/icons/chevron-right.svg" alt=""></span>
  <span class="color-6F61CF fs-12px mt-1px">Roles & Permission details </span>
</div>
<div class="ps-4 pe-4 wrapper">
  <!-- First Section -->
  <div class="section">
    <div class="sso_card bg-white p-3 mt-4 ps-4">
      <div class="pt-1">
        <h5 class="mb-4 header-content">Role Details</h5>
        <hr class="mt-4 mb-2 me-2 custom-hr">
        <table class="table">
          <tbody>
            <tr>
              <td class="fw-600 w-200px">Role Name</td>
              <td class="dark-light fs-12">{{ role?.name || 'N/A' }}</td>
            </tr>
            <tr>
              <td class="fw-600">Description</td>
              <td class="dark-light fs-12">{{ role?.description || 'N/A' }}</td> 
            </tr>
            <tr>
              <td class="fw-600">Permissions</td>
              <td class="">
                <div class="d-flex flex-wrap align-items-center">
                  <ng-container>
                  <span *ngFor="let perm of firstFivePermissions" class="custom-badge-primary  m-1 ps-3 pe-3 me-2 fs-12">{{
                    perm.name || 'N/A' }}</span>
              <div *ngIf="role?.permissions.length > 5" class="dropdown-container position-relative" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
                <span class="custom-badge-primary  m-1 ps-3 pe-3 me-2 fs-12">
                  See more...
                 </span>
                
                <div class="dropdown-menu" [class.show]="isDropdownVisible">
                  <a class="dropdown-item" *ngFor="let item of totalPermissions">{{item?.name}}</a>
                </div>
              </div>
              </ng-container>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer border-0 d-flex justify-content-start mt-2" *ngIf="localStoreService.hasPermission('can.update.role')">
          <button class="primary_button fs-14 fw-600" (click)="openUpdateModal()">Edit Detail</button>
        </div>
      </div>
    </div>
  </div>

  <!-- History Section -->
  <div class="section">
    <div class="sso_card bg-white p-3 mt-4 ps-4">
      <div class="pt-1">
        <h5 class="fs-20px fw-700 mb-4 bold-fonts">History</h5>
        <hr class="mt-4 mb-2 me-2 custom-hr">
        <table class="table">
          <tbody>
            <tr>
              <td class="fw-600 w-200px">Creation Time</td>
              <td class="dark-light fs-12">{{ role?.created_at || 'N/A' }}</td>
            </tr>
            <tr>
              <td class="fs-14 fw-600">Created by</td>
              <td class="dark-light fs-12">{{ role?.created_by || 'N/A' }}</td>
            </tr>
            <tr>
              <td class="fw-600">Last Updated Time</td>
              <td class="dark-light fs-12">{{ role?.updated_at || 'N/A' }}</td>
            </tr>
            <tr>
              <td class="fw-600">Last Updated By</td>
              <td class="dark-light fs-12">{{ role?.updated_by || 'N/A' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Delete Role Section -->
  <div class="section d-none" *ngIf="localStoreService.hasPermission('can.delete.role')">
    <div class="main-div sso_card bg-white p-3 mt-4 ps-4">
      <div>
        <h5 class="fs-20px fw-700">Delete role</h5>
        <p class="fs-14px dark-light mt-4">To proceed with deleting this role, you must first reassign all users
          currently assigned to it. The delete operation will remain disabled until all users have been reassigned,
          ensuring they do not lose access or permissions unexpectedly.</p>
        <div class="mt-4">
          <button class="primary_button danger_btn fs-14 fw-600" (click)="userDeleteModal()">Delete Role</button>
        </div>
      </div>
    </div>
  </div>
</div>