tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: #EDF2F7
}

.dark-light {
    color: #8492A6;
}

.custom-button-danger {
    color: #EF4444;
    border-color: #EF4444;
    background-color: #FFE8E8;
    transition: all 0.3s ease;
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    height: 43px;
}

.custom-button-danger:hover {
    color: #FFFFFF;
    border-color: #EF4444;
    background-color: #EF4444;
}

.custom-button-danger:active {
    color: #FFFFFF;
    border-color: #EF4444;
    background-color: #EF4444;
}
.pe-10 {
    padding-right: 32rem !important;
}
.ps-10 {
    padding-left: 12rem !important;
}
.ps-11 {
    padding-left: 11.5rem !important;
}
.w-200px{
    width: 200px !important;
}
hr {
    margin: 0rem 0 !important;
   
}