tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: #EDF2F7
}

.dark-light {
    color: #8492A6;
}
.wrapper{
    padding-top: 35px;
}

.pe-10 {
    padding-right: 32rem !important;
}

.ps-10 {
    padding-left: 12rem !important;
}

.ps-11 {
    padding-left: 11.5rem !important;
}

.w-200px {
    width: 200px !important;
}

hr {
    margin: 0rem 0 !important;

}

.sso_card {
    table tbody tr td {
        padding: 13px 0;
        border-bottom-color: #EDF2F7;
    }
}

.danger_btn {
    border: 1px solid #EF4444;
    color: #EF4444;
    background-color: #FFE8E8;
    transition: background-color 0.2s ease-in-out;
}

.danger_btn:hover {
    background-color: #EF4444;
    color: #ffffff;
}

.btn-delete {
    background-color: #EF4444;
    font-size: 14px;
}
.btn-delete:hover {
    background-color: #df3f3f;
    color: #fff;
    // font-weight: 500;
}


::ng-deep .custom-delete-user-modal{

    ::ng-deep .modal-content{
        width: 620px !important;
        border-radius: 16px !important;
        margin-left: 60px !important;
    }
    .modal-dialog-box{
   
        padding: 40px;
        .modal-body{
            padding-top: 24px !important;
            padding-bottom: 30px !important;
            font-size: 14px !important;
            font-weight: 600 !important;
        }
    }
}