.generate_button {
background-color: #6F61CF;
  color: white;
  padding: 4px 7px 8px 6px;
  border: none;
  border-radius: 6px;
  height: 28px;
}

.form-label {
  margin-bottom: 0.5rem;
}

.vertical-line {
          color: black;
            height: 32px;
            border-left: 2px solid #151616;
            margin: 3px 36px;
}

.eye2 {
  top: 55%;
    right: 84px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 18px;
    height: 14px;

}

.eye-open {
  background-image: url('../../../../assets/icons/eye-hide.svg');
}

.eye-closed {
  background-image: url('../../../../assets//icons/EYE-3.svg');
}

.dark-light {
  color: #8492A6;
}