.input-container {
  position: relative;

  .password_field_container {
    display: flex;
    top: 5px;
    right: 21px;
    align-items: center;
    gap: 0.3rem;
  }

}

.input-container .text-danger {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 0.875rem;
  color: #dc3545;
}

.is-invalid {
  border-color: #dc3545;
}

.form-label {
  margin-bottom: 0.5rem;
}

.vertical-line {
  color: black;
  height: 37px;
  border-left: 1px solid #151616;
  margin: 0 0.5rem;
}