<div class="common_modal">
    <div class="modal-header border-bottom-0">
        <h2 class="mb-0">{{ mode === 'create' ? 'Create User' : 'Update User' }}</h2>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row mt-1">
                <!-- First Name -->
                <div class="col-xl-6 input-container custom-input">
                    <label for="" class="mt-3 required label-font">First Name</label>
                    <input [ngClass]="{ 'is-invalid': isControlHasError('firstName', 'required') }" type="text"
                        class="form-control form-control-lg" formControlName="firstName" placeholder="Enter first name">
                    <span *ngIf="isControlHasError('firstName', 'required')" class="text-danger fs-8 ps-3">First name is
                        required</span>
                </div>

                <!-- Last Name -->
                <div class="col-xl-6 input-container custom-input">
                    <label for="" class="mt-3 primary_color required label-font">Last Name</label>
                    <input [ngClass]="{ 'is-invalid': isControlHasError('lastName', 'required') }" type="text"
                        class="form-control form-control-lg" formControlName="lastName" placeholder="Enter last name">
                    <span *ngIf="isControlHasError('lastName', 'required')" class="text-danger fs-8 ps-3">Last name is
                        required</span>
                </div>

                <!-- User Name -->
                <div class="col-xl-6 input-container custom-input mt-1">
                    <label for="" class="mt-3 primary_color required label-font">User Name</label>
                    <input [ngClass]="{ 'is-invalid': isControlHasError('username', 'required') }" type="text"
                        class="form-control form-control-lg" formControlName="username" placeholder="Enter user name">
                    <span *ngIf="isControlHasError('username', 'required')" class="text-danger fs-8 ps-3">User name is
                        required</span>
                </div>

                <!-- Phone Number -->
                <div class="col-xl-6 input-container custom-input mt-1">
                    <label for="" class="mt-3 primary_color required label-font">Phone Number</label>
                    <input
                        [ngClass]="{ 'is-invalid': isControlHasError('phone', 'required') || isControlHasError('phone', 'numeric') }"
                        type="text" class="form-control form-control-lg" formControlName="phone"
                        placeholder="Enter phone number">
                    <span *ngIf="isControlHasError('phone', 'required')" class="text-danger fs-8 ps-3">Phone number
                        is required</span>
                    <span *ngIf="isControlHasError('phone', 'numeric')" class="text-danger fs-8 ps-3">Phone number
                        must be numeric</span>
                </div>

                <!-- Email Address -->
                <div class="col-xl-6 input-container custom-input mt-1">
                    <label for="" class="mt-3 primary_color required label-font">Email Address</label>
                    <input
                        [ngClass]="{ 'is-invalid': isControlHasError('email', 'required') || isControlHasError('email', 'email') }"
                        type="email" class="form-control form-control-lg" formControlName="email"
                        placeholder="Enter email address" [attr.disabled]="mode === 'update' ? true : null">
                    <span *ngIf="isControlHasError('email', 'required')" class="text-danger fs-8 ps-3">Email is
                        required</span>
                    <span *ngIf="isControlHasError('email', 'email')" class="text-danger fs-8 ps-3">Invalid email
                        format</span>
                </div>

                <!-- Password -->
                <div class="col-xl-6 input-container custom-input mt-1" *ngIf="mode === 'create'">
                    <label class="mt-3 primary_color required label-font">Password</label>
                    <div class="">
                        <input [ngClass]="{ 'is-invalid': isControlHasError('password', 'required') }"
                            [type]="isPasswordVisible ? 'text' : 'password'" class="form-control form-control-lg"
                            formControlName="password" placeholder="Enter password">
                        <div class="position-absolute password_field_container">
                            <hr class="vertical-line">
                            <i class="eye2 position-absolute" (click)="togglePasswordVisibility()"
                                [ngClass]="{'eye-open': !hidePassword, 'eye-closed': hidePassword}"></i>

                            <button class="btn generate_button input-group-btn" type="button" id="generateButton"
                                (click)="generatePassword()">Generate</button>
                        </div>
                    </div>
                    <span class="text-danger ps-3 fs-8"
                        [ngClass]="{ invisible: !isControlHasError('password', 'required') }">Password is
                        required</span>
                </div>

                <!-- Roles -->
                <div class="col-xl-6 pt-2 mt-1" *ngIf="mode === 'update'">
                    <div class="mb-3 custom-dropdown">
                        <label for="roleSelect" class="form-label mb-1 fs-14px fw-700 required">Role</label>
                        <ng-select #selectElement
                            [ngClass]="{ 'custom-select-error': isControlHasError('role', 'required'), 'custom-select-focused': isFocused }"
                            formControlName="role" (focus)="isFocused = true" (blur)="isFocused = false"
                            (change)="onValueChange()" placeholder="Select role">
                            <ng-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</ng-option>
                        </ng-select>
                        <small *ngIf="isControlHasError('role', 'required')" class="mt-1 fs-14px text-danger">Role is
                            required</small>
                    </div>
                </div>

                <!-- Role Dropdown -->
                <div class="col-xl-6 mt-2" *ngIf="mode === 'create'">
                    <div class="mb-3 custom-dropdown">
                        <label for="roleSelect" class="form-label mb-1 fs-14px fw-700 required">Role</label>
                        <ng-select #selectElement
                            [ngClass]="{ 'custom-select-error': isControlHasError('role', 'required'), 'custom-select-focused': isFocused }"
                            formControlName="role" (focus)="isFocused = true" (blur)="isFocused = false"
                            (change)="onValueChange()" placeholder="Select role">
                            <ng-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</ng-option>
                        </ng-select>
                        <small *ngIf="isControlHasError('role', 'required')" class="mt-1 fs-14px text-danger">Role is
                            required</small>
                    </div>
                </div>
                <!-- organization Dropdown -->
                <div class="col-xl-6 mt-2" *ngIf="mode === 'create' && this.localStoreService.getUserRole().toLowerCase() === 'master'">
                    <div class="mb-3 custom-dropdown">
                        <label for="exampleFormControlInput1" class="form-label mb-1 fs-14px fw-700 required">Organization</label>
                        <ng-select class="" [ngClass]="{
                          'custom-select-error': isControlHasError('organization', 'required'),
                          'custom-select': !isControlHasError('organization', 'required')
                        }" formControlName="organization" (focus)="isFocused = true" (blur)="isFocused = false" (change)="onChange()"
                            placeholder="Select organization">
                            <ng-option *ngFor="let organization of organization" [value]="organization.id">{{
                                organization.name }}</ng-option>
                        </ng-select>
                        <small *ngIf="isControlHasError('organization', 'required')" class="mt-1 fs-14px text-danger">organization is
                            required</small>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer border-top-0 pb-0 mt-2">
                    <button type="button" class="cancel_btn" (click)="closeModal()">Cancel</button>
                    <button type="submit" class="primary_button" [disabled]="isLoading">
                        <span class="spinner-border spinner-border-sm" *ngIf="isLoading"></span>
                        {{ mode === 'create' ? 'Create User' : 'Update User'
                        }}</button>
                </div>
            </div>
        </form>
    </div>
</div>