<div class="wrapper">
  <div class="sso_card w-100 h-100">
    <div
      class="d-block d-md-flex align-items-center justify-content-between dataTable_header"
    >
      <h4 class="primary_color mb-3 mb-md-0 table-header-letter-spacing">
        FMS Users
      </h4>
      <div class="d-block d-md-flex">
        <div
          class="position-relative display-flex ms-0 ms-2 mb-3 mb-md-0 custom-input"
        >
          <input
            type="text"
            class="form-control dataTableSearch"
            [(ngModel)]="searchTerm"
            placeholder="Search by username or email"
            (input)="search()"
          />
          <span class="search_icon searchIcon"></span>
        </div>
        <div class="d-flex">
          <button
            type="button"
            class="btn filter_btn ms-0 ms-2 mb-3 mb-md-0 d-none"
          >
            <span class="me-2 filterIcon"></span> Filter
          </button>
        </div>
        <button
          (click)="addUSer()"
          class="primary_button ms-0 ms-2 mb-3 mb-md-0 d-flex justify-content-center align-items-center"
        >
          Register User
          <i class="bi bi-arrow-right ms-2 mt-1"></i>
        </button>
      </div>
    </div>

    <div class="data_table_wrapper pb-0">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>S No</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Designation</th>
            <th>Role</th>
            <th class="d-flex justify-content-center align-items-end">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <td class="">{{i + 1}}</td>
            <td class="">{{user?.firstName + ' ' + user?.lastName}}</td>
            <td class="">{{user?.username}}</td>
            <td class="">{{user?.email}}</td>
            <td class="">{{user?.phone}}</td>
            <td class="">{{user?.desegnation}}</td>
            <td class="">{{user?.isAdmin ? 'Admin' : 'Normal User'}}</td>
            <td class="">
              <button class="btn btn-sm btn-outline-danger" (click)="openResetModal(user?._id)" title="Reset Password"><i class="bi bi-key"></i></button>
              <button class="btn btn-sm btn-outline-danger ms-2" (click)="openDeleteModal(user?._id)"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #resetPassword>
    <div class="common_modal p-3">
            <div class="modal-header border-bottom-0">
              <h2 class="mb-0 header-content">Create New Password</h2>
            </div>
            <div class="modal-body mt-3 pb-2">
              <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                <!-- Password Field -->
                <div class="row custom-input mb-4">
                  <div class="input-container position-relative">
                    <label for="password" class="label-font required">Password</label>
                    <input id="password" type="password" class="form-control" formControlName="password" 
                           [ngClass]="{'is-invalid': isControlHasError('password', 'required') || isControlHasError('password', 'minlength')}"
                           placeholder="Enter new password" [type]="hidePassword ? 'password' : 'text'">
                    <i class="eye2 position-absolute" (click)="togglePasswordVisibility()"
                       [ngClass]="{'eye-open': !hidePassword, 'eye-closed': hidePassword}"></i>
                    <span *ngIf="isControlHasError('password', 'required')" class="text-danger fs-8 ps-3 pt-1">Password is required</span>
                    <span *ngIf="isControlHasError('password', 'minlength')" class="text-danger fs-8 ps-3 pt-1">Password must be at least 8 characters</span>
                  </div>
                </div>

                <!-- Confirm Password Field -->
                <div class="row mt-3 custom-input">
                  <div class="input-container position-relative">
                    <label for="confirmPassword" class="label-font required">Confirm Password</label>
                    <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword" 
                           [ngClass]="{'is-invalid': isControlHasError('confirmPassword', 'required') || (passwordForm.hasError('mismatch') && (passwordForm.get('confirmPassword')?.touched || passwordForm.get('password')?.touched))}"
                           placeholder="Confirm your password" [type]="hideConfirmPassword ? 'password' : 'text'">
                    <i class="eye2 position-absolute" (click)="toggleConfirmPasswordVisibility()"
                       [ngClass]="{'eye-open': !hideConfirmPassword, 'eye-closed': hideConfirmPassword}"></i>
                    <span *ngIf="isControlHasError('confirmPassword', 'required')" class="text-danger fs-8 ps-3 pt-1">Confirm password is required</span>
                    <span *ngIf="passwordForm.hasError('mismatch') && (passwordForm.get('confirmPassword')?.touched || passwordForm.get('password')?.touched)" class="text-danger fs-8 ps-3 pt-1">Passwords do not match</span>
                  </div>
                </div>

                <!-- Submit Button -->
                 <div
            class="modal-footer border-top-0 d-flex justify-content-end mt-4 pb-0 pe-0"
          >
            <div class="buttons pb-0">
              <button
                type="button"
                class="cancel_btn me-2"
                (click)="close()"
              >
                No, cancel
              </button>
              <button class="primary_button" (click)="savePassword()" [disabled]="isLoading">
                Save
                <i class="bi bi-arrow-right ms-2 mt-1" *ngIf="!isLoading"></i>
                <span
                  class="spinner-border spinner-border-sm"
                  *ngIf="isLoading"
                ></span>
              </button>
            </div>
          </div>
              </form>
            </div>
          </div>
</ng-template>