<div class="sidebar-main" [class.close_sidebar]="isSidebarVisible">
    <div class="logo">
        <img src="../../../../assets/logos/main_logo.png" alt="">
    </div>
    <div class="navigations">
        <ul>
            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Dashboard')" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="d-flex align-items-center sidebar_svg home"></span><a>Dashboard</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Organizations')" routerLink="organization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="d-flex align-items-center sidebar_svg Icon" ></span><a>Organizations</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Permissions')" routerLink="roles" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="d-flex align-items-center sidebar_svg check-verified" ></span><a>Roles & Permissions</a></li>

  <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Applications')" routerLink="application" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="d-flex align-items-center sidebar_svg monitor" ></span><a>Applications</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Users')" routerLink="user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="d-flex align-items-center sidebar_svg iconone"></span><a>Users</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Secrets')" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="d-flex align-items-center lockKeyHole "></span><a>Secrets</a></li>

            <li class="d-flex alig-items-center sidebar_svg" (click)="setActive('teamMembers')" routerLink="team-member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span class="d-flex align-items-center sidebar_svg users" ></span><a>Team Members</a></li>
        </ul>
    </div>
</div>
