<div class="sidebar-main d-flex flex-column justify-content-between pb-3" [class.close_sidebar]="isSidebarVisible">
    <div class="sidbar-logo-navigations">
        <div class="logo mt-1 text-white fs-1">
            <!-- <img src="../../../../assets/icons/sidebar-logo-2.svg" alt=""> -->
             CMS
        </div>
        <div class="navigations">
            <div class="fs-12px ms-3 semi-bold-font menu-text mt-2">MENU</div>
            <ul class="pt-2">
                <li 
                    class="d-flex align-items-center sidebar_svg" (click)="setActive('Dashboard')"
                    routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span
                        class="d-flex align-items-center sidebar_svg home"></span><a>Dashboard</a></li>

                <li 
                    class="d-flex align-items-center sidebar_svg" (click)="setActive('Organizations')"
                    routerLink="organization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                    <span class="d-flex align-items-center sidebar_svg Icon"></span><a>Calender</a></li>

                <li 
                    class="d-flex align-items-center sidebar_svg" (click)="setActive('Permissions')" routerLink="roles"
                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span
                        class="d-flex align-items-center sidebar_svg check-verified"></span><a>Final Year Project</a>
                </li>

                <li 
                    class="d-flex align-items-center sidebar_svg" (click)="setActive('Applications')"
                    routerLink="application" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                    <span class="d-flex align-items-center sidebar_svg monitor"></span><a>To Do List</a></li>

                <li 
                    class="d-flex align-items-center sidebar_svg" (click)="setActive('Users')" routerLink="user"
                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span
                        class="d-flex align-items-center sidebar_svg iconone"></span><a>Folders</a></li>

                <li 
                    class="d-flex align-items-center sidebar_svg" (click)="setActive('teamMembers')"
                    routerLink="team-member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>Report</a></li>
                <li 
                    class="d-flex align-items-center sidebar_svg" (click)="setActive('teamMembers')"
                    routerLink="team-member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                    <span class="d-flex align-items-center sidebar_svg users "></span><a>About</a></li>
            </ul>
        </div>
    </div>

    <div class="logout-section-main-div">
        <div class="logout-section">
            <!-- <hr class="text-white"> -->
            <div class="text-white d-flex justify-content-between">
                <div class="d-flex">
                    <div class="user-img">
                        <img class="rounded-circle" [src]="localStoreService.getUserProfile()" alt="">
                    </div>
                    <div class="ms-2">
                        <div class="fs-14px fw-700">{{localStoreService.getUserName()}}</div>
                        <div class="role fs-12px">{{localStoreService.getUserEmail()}}</div>
                    </div>
                </div>
                <div class="me-4 mt-2" (click)="logout()"><span class="cursor-pointer logout-icon"></span></div>
            </div>
        </div>
    </div>
</div>