<div class="sidebar-main" [class.close_sidebar]="isSidebarVisible">
    <div class="logo">
        <img src="../../../../assets/logos/main_logo.png" alt="">
    </div>
    <div class="navigations">
        <ul>
            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Dashboard')" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span class="d-flex align-items-center sidebar_svg" [inlineSVG]="'./assets/icons/home-03.svg'"></span><a>Dashboard</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Organizations')" routerLink="organization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span class="d-flex align-items-center sidebar_svg" [inlineSVG]="'./assets/icons/Icon.svg'"></span><a>Organizations</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Permissions')" routerLink="roles" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span class="d-flex align-items-center sidebar_svg" [inlineSVG]="'./assets/icons/check-verified-02.svg'"></span><a>Roles & Permissions</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Applications')" routerLink="application" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span class="d-flex align-items-center sidebar_svg" [inlineSVG]="'./assets/icons/monitor-02.svg'"></span><a>Applications</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Users')" routerLink="user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span class="d-flex align-items-center sidebar_svg" [inlineSVG]="'./assets/icons/Icon1.svg'"></span><a>Users</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('Secrets')" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span class="d-flex align-items-center sidebar_svg" [inlineSVG]="'./assets/icons/lock-keyhole-square.svg'"></span><a>Secrets</a></li>

            <li class="d-flex align-items-center sidebar_svg" (click)="setActive('teamMembers')" routerLink="team-member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><span class="d-flex align-items-center sidebar_svg" [inlineSVG]="'./assets/icons/users-03.svg'"></span><a>Team Members</a></li>
        </ul>
    </div>
</div>