.searchIcon{
  background-image: url('./icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filterIcon{
  background-image: url('./icons/filter.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sideBarToggle {
  background-image: url('./icons/toggle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.closeArrow {
  background-image: url('./icons/closeArrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fullscreen {
  background-image: url('./icons/fullscreen.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.setting {
  background-image: url('./icons/setting.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home{
  background-image: url('./icons/home-03.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Icon{
  background-image: url('./icons/Icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.check-verified {
  background-image: url('./icons/check-verified-02.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.monitor {
  background-image: url('./icons/monitor-02.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.iconone {
  background-image: url('./icons/Icon1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lockKeyHole {
  background-image: url('./icons/lock-keyhole-square.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.users {
  background-image: url('./icons/users-03.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.eye {
  background-image: url('./icons/eye.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
