.searchIcon{
  background-image: url('./icons/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.filterIcon{
  background-image: url('./icons/filter.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px !important;
  height: 15px !important;
}
.sideBarToggle {
  background-image: url('./icons/toggle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px !important;
  height: 14px !important;
}
.closeArrow {
  background-image: url('./icons/closeArrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px !important;
  height: 16px !important;
}
.fullscreen {
  background-image: url('./icons/fullscreen.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.setting {
  background-image: url('./icons/setting.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home{
  background-image: url('./icons/home-03.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Icon{
  background-image: url('./icons/Icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.check-verified {
  background-image: url('./icons/check-verified-02.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.monitor {
  background-image: url('./icons/monitor-02.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.iconone {
  background-image: url('./icons/Icon1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lockKeyHole {
  background-image: url('./icons/lock-keyhole-square.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.users {
  background-image: url('./icons/users-03.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.eye {
  background-image: url('./icons/eye.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.delete-icon{
  background-image: url('./icons/delete-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.logout-icon {
  background-image: url('./icons/logout.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 6px;
  padding: 7px;

}
.users-icon {
  background-image: url('./icons/usericon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 15px;
}
.setting-icon {
  background-image: url('./icons/setting-icon2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      padding: 2px;
        height: 20px;
        padding-left: 21px;
}
.eye2 {
  background-image: url('./icons/EYE-3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.trash {
  background-image: url('./icons/trash-01.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
