@font-face {
    font-family: 'Urbanist';
    src: url('/path/to/urbanist-regular.woff2') format('woff2'),
         url('/path/to/urbanist-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

    body{
      font-family: "Urbanist", sans-serif !important;
      background-color:#F1F5F9 !important;
    }
    html, body {
        overflow-y: hidden;
    }

// scroll bar styling css

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0F172A;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0F172A;
  }

.cursor-pointer{
    cursor: pointer;
}
.primary_color{
    color: #1F2D3D;
}
.primary_color_bg{
    background-color: #1F2D3D;
}
.font_weight_500{
    font-weight: 500 !important;
}
.font_weight_600{
    font-weight: 600 !important;
}
.primary_button{
    background-color: #6F61CF;
    color: white;
    padding: 10px 16px 10px 16px;
    border: none;
    border-radius: 6px;
}
.focus-none:focus {
    border-color: #dee2e6 !important;
    box-shadow: none !important;
}
.cancel_btn {
    border: 1px solid rgb(208, 219, 229) !important;
    color: rgb(132, 146, 166);
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    height: 48px;
    background: white;
}
.sso_card{
    box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
    background-color: white;
    border-radius: 16px;
}
.badge-light-success {
    color: rgba(34, 197, 94, 1) !important;
    background-color: rgba(221, 255, 234, 1);
    border-radius: 15px !important;
    padding: 6px 14px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.badge-light-warning {
    color: rgba(245, 158, 11, 1) !important;
    background-color: rgba(255, 243, 223, 1) !important;
    border-radius: 15px !important;
    padding: 6px 14px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.create_organization{
    max-width: 600px !important;
    .modal-content{
        box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
        background: white;
        border-radius: 16px;
    }
}
.required:after {
    content: "*";
    position: relative;
    font-size: inherit;
    color: #ee6352;
    padding-left: .25rem;
    font-weight: 700;
}

// data table header css
.dataTable_header{
    padding: 18px;
    h4{
        font-size: 18px;
        font-weight: 700;
    }
    .filter_btn{
        border: 1px solid rgba(208, 219, 229, 1);
        color: rgba(132, 146, 166, 1);
        &:hover{
            border: 1px solid rgba(208, 219, 229, 1);
        }
    }
    .dataTableSearch{
        width: 270px;
        height: 48px;
        padding-left: 40px;
        border-radius: 6px;
    }
    .search_icon{
        position: absolute;
        top: 12px;
        left: 12px;
    }
}

// common modal styling

.common_modal_shadow{
    .modal-content{
        box-shadow: 0px 2px 12px 4px rgba(0, 0, 0, 0.06);
        background: white;
        border-radius: 16px;
    }
        h2{
            font-weight: 700;
            font-size: 22px;
        }
        .modal-body{
            padding: 22px 40px 40px;
            input::placeholder {
                font-size: 16px;
                color: rgba(132, 146, 166, 1);
            }
        }
        .modal-header{
            padding: 40px 40px 0;
        }
}
.form-control.is-invalid {
    background-image: none !important;
}

.input-container {
    position: relative;

    .password_field_container {
        display: flex;
        top: 5px;
        right: 6px;
        align-items: center;
        gap: 0.3rem;
    }
    .modal-header{
        padding: 40px 40px 0;
    }
}
.active-nav-tab {
    border-bottom: 2px solid #6F61CF !important;
    color: #6F61CF !important;
    background-color: #f1f5f9 !important;
}

.color-8492A6 {
    color: #8492A6;
}

.bg-F2F4F6 {
    color: #F2F4F6;
}

.fs-12px {
    font-size: 12px;
}

.link-text {
    background-color: #F2F4F6;
    border-radius: 10px;
    padding: 4px 8px;
}

.fs-14px {
    font-size: 14px;
}

.color-16192C {
    color: #16192C;
}

.nav-tabs button {
    color: #8492A6;
}

.nav-tabs button,
.nav-tabs button:hover {
    border: none;
    border-radius: none;
}

.line {
    margin-top: -17px !important;
}

.bg-6F61CF {
    background-color: #6F61CF !important;
}

.invite-button button {
    color: #fff;
}

.color-6F61CF {
    color: #6F61CF;
}

.color-D0DBE5 {
    color: #D0DBE5;
}

.color-7a7a7a {
    color: #7a7a7a;
}

.status-button {
    border-radius: 30px;
    padding: 0px 15px 5px 15px !important;
}

.status-inactive {
    background-color: #FFF3DF;
    color: #F59E0B;
}

.status-inactive button {
    color: #F59E0B;
}

.delete-button button {
    border-color: #EF4444 !important;
    background-color: #FFF3DF;
}

.delete-button button:active {
    background-color: red;
    color: #fff;
}
.bg-6F61CF {
    background-color: #6F61CF;
}
.color-red {
    color: red;
}

.close-modal {
    border-color: #D0DBE5 !important;
}

.custom-input{
    input {
        padding: 8px 16px;
        border: var(--bs-border-width) solid var(--bs-border-color);
    }
    input:focus,
    input:active {
        padding: 8px 16px;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-color: #6f63bd !important;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(111, 97, 207, 0.20) !important;

    }

        input::placeholder {
            font-size: 14px;
            color: rgba(132, 146, 166, 1);
        }
}

.cursor-pointer{
    cursor: pointer;
}



.input-container .text-danger {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 0.875rem;
    color: #dc3545;
}

.custom-badge-warning {
    background-color: #FFF3DF;
    color: #F59E0B;
    border-radius: 1.2rem;
    width: auto;
    height: auto;
    font-family: 'Urbanist', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.custom-badge-primary {
    background-color: #EAE7FF;
    color: #6F61CF;
    border-radius: 1.2rem;
    width: auto;
    height: auto;
    font-family: 'Urbanist', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}
.custom-hr {
    border: 0;
    border-top: 1px solid #EDF2F7;
    opacity: 2.25;
}
.fw-700 {
    font-weight: 700;
}

.fs-20px {
    font-size: 20px;
}

.fw-600 {
    font-weight: 600;
}



.fs-14 {
    font-size: 14px;
}

.text-primary-custom {
    color: #6F61CF
}

